#
# :Precis: Configure Ansible for local inventory file
# :Authors: Andrew Burrow
# :Contact: andrew.burrow@syntegrity.com.au
#

[defaults]
# Read roles from the common pool in the repository
roles_path = roles

# Read the static inventory in YAML format
inventory = inventory/hosts.yml
host_key_checking = False

[privilege_escalation]
# Require a privilege escalation password to be supplied at run
become_ask_pass = True
