#
# :Precis: List the localhost as the only machine
# :Authors: Andrew Burrow
# :Contact: andrew.burrow@syntegrity.com.au
#

# Control the localhost without invoking SSH
localhost ansible_connection=local
