* runmqsc command file template
* apps_ssl.template
* relies on apps_ssl.template.map
* Amended: 26/06/2015 to enable Mainframe connections (QM without cluster prefix in name)

* ---------------------------------------------------
* Make client channel for QM administration use SSL
alter chl(ADMIN.__QMGRNAME__) -
	chltype(svrconn) -
	trptype(tcp) -
	sslciph(TLS_RSA_WITH_AES_128_CBC_SHA256) -
	sslcauth(optional)

* ---------------------------------------------------
* Make client channel for QM monitoring require SSL
alter chl(MONITOR.__QMGRNAME__) -
	chltype(svrconn) -
	trptype(tcp) -
	sslciph(TLS_RSA_WITH_AES_128_CBC_SHA256) -
	sslcauth(optional)

* ---------------------------------------------------
* Change cluster receiver channel to enforce SSL
alter chl(__CLUSTER__.__QMGRNAME__) -
	chltype(clusrcvr) -
	trptype(tcp) -
	sslciph(TLS_RSA_WITH_AES_128_CBC_SHA256) -
	sslpeer('CN=*, OU=*/__CLUSTER__/*, OU=IBM MQ QMgr, O=ITSS, L=Melbourne, S=VIC, C=AU') -
	sslcauth(required)

* ---------------------------------------------------
* Change cluster channel security rules to use SSL instead of 
* QMGR Name for the mapping rule

* Full Repo qmgr -> __MQREPOUSER__
set chlauth('__CLUSTER__.__QMGRNAME__') -
        type(sslpeermap) -
        descr('Map generic repo QMGR NAME from CN to a user') -
        sslpeer('CN=__REPOPREFIX__*,OU=*/__CLUSTER__/*,OU=IBM MQ QMgr, O=ITSS, L=Melbourne, S=VIC, C=AU') -
        usersrc(map) -
        mcauser('__MQREPOUSER__') -
        action(replace)

*  App qmgr -> __MQCLUSUSER__
set chlauth('__CLUSTER__.__QMGRNAME__') -
        type(sslpeermap) -
        descr('Map generic app QMGR NAME from CN to a user') -
        sslpeer('CN=*,OU=*/__CLUSTER__/*,OU=IBM MQ QMgr, O=ITSS, L=Melbourne, S=VIC, C=AU') -
        usersrc(map) -
        mcauser('__MQCLUSUSER__') -
        action(replace)

* ---------------------------------------------------
* Change cluster sender channel to FR to be SSL enabled
alter chl(__CLUSTER__.__REPOQM__) -
	chltype(clussdr) -
	trptype(tcp) -
	sslciph(TLS_RSA_WITH_AES_128_CBC_SHA256) -
	sslpeer('CN=*, OU=*/__CLUSTER__/*, OU=IBM MQ QMgr, O=ITSS, L=Melbourne, S=VIC, C=AU')

* ---------------------------------------------------
* Refresh security to activate the new rules
refresh security(*) type(ssl)
refresh security(*) type(connauth)
refresh security(*) type(authserv)
