* runmqsc command file template
* audit.template
* relies on audit.template.map

* Create objects to enable capture of audit events
* and generation of an audit log
*
* ---------------------------------------------------
* Create the target queue
define ql(__EVENTQUEUE__) -
	descr('__EVENTTYPE__ events for command audit') -
	maxdepth(100000) -
	replace
*
* ---------------------------------------------------
* Create the subscription to capture command events
define sub(__EVENTQUEUE__) -
	topicobj(MQ.__EVENTTYPE__.EVENTS) -
	dest(__EVENTQUEUE__) -
	replace
*
* ---------------------------------------------------
* Create the service which can format the events into
* a spool file
define service(__EVENTQUEUE__) -
	descr('Run the audit service for __EVENTTYPE__ events') -
	control(QMGR) -
	servtype(SERVER) -
	startcmd('/var/mqm/utilities/xmqdspev.bash') -
	startarg('-m +QMNAME+ -q __EVENTQUEUE__ -w -d -f __EVENTFILE__') -
	stopcmd('/var/mqm/utilities/xmqdspev.bash') -
	stoparg('-kill -m +QMNAME+ -q __EVENTQUEUE__') -
	replace
*
* ---------------------------------------------------
* Start the service so command event logs get created
start service(__EVENTQUEUE__)
