* runmqsc command file template
* email_iib_app.template
* relies on email_iib_apps.template.map

* ---------------------------------------------------
* Set Auth Records - Service Component Queues
* ---------------------------------------------------

set authrec -
	objtype(queue) -
	profile('SC.ADAPTER.EMAIL.**') -
	principal('__IIBUSER__') -
	authrmv(all) -
	authadd(browse, get, inq, put, setall, setid, passall, passid, dsp)

* ---------------------------------------------------
* Define Queues - SC_EmailAdapter
* ---------------------------------------------------

define ql('SC.ADAPTER.EMAIL.BOQ.V1') -
	descr('Backout Queue for SC_EmailAdapter') -
	replace

define ql('SC.ADAPTER.EMAIL.REQ.V1') -
	descr('Request Queue for SC_EmailAdapter') -
	cluster(__CLUSNAME__) -
	clwlprty(__QPRIORITY__) -
	boqname('SC.ADAPTER.EMAIL.BOQ.V1') -
	bothresh(1) -
	replace

* ---------------------------------------------------
* Refresh security to activate the new rules
refresh security(*) type(authserv)
