* runmqsc command file template
* gwy_ssl.template
* relies on gwy_ssl.template.map

* ---------------------------------------------------
* Make client channel for QM administration use SSL
alter chl(ADMIN.__QMGRNAME__) -
	chltype(svrconn) -
	trptype(tcp) -
	sslciph(TLS_RSA_WITH_AES_128_CBC_SHA256) -
	sslcauth(optional)

* ---------------------------------------------------
* Make client channel for QM monitoring require SSL
alter chl(MONITOR.__QMGRNAME__) -
	chltype(svrconn) -
	trptype(tcp) -
	sslciph(TLS_RSA_WITH_AES_128_CBC_SHA256) -
	sslcauth(optional)

* ---------------------------------------------------
* Change cluster receiver channel to enforce SSL
alter chl(__CLUSTER__.__QMGRNAME__) -
	chltype(clusrcvr) -
	trptype(tcp) -
	sslciph(TLS_RSA_WITH_AES_128_CBC_SHA256) -
	sslpeer('CN=*, OU=*/__CLUSTER__/*, OU=IBM MQ QMgr, O=ITSS, L=Melbourne, S=VIC, C=AU') -
	sslcauth(required)

* ---------------------------------------------------
* Change cluster channel security rules to use SSL instead of 
* QMGR Name for the mapping rule

* Full Repo qmgr -> __MQREPOUSER__
set chlauth('__CLUSTER__.__QMGRNAME__') -
        type(sslpeermap) -
        descr('Map generic repo QMGR NAME from CN to a user') -
        sslpeer('CN=__REPOPREFIX__*,OU=*/__CLUSTER__/*,OU=IBM MQ QMgr, O=ITSS, L=Melbourne, S=VIC, C=AU') -
        usersrc(map) -
        mcauser('__MQREPOUSER__') -
        action(replace)

*  App cluster qmgr -> __MQAPPUSER__
set chlauth('__CLUSTER__.__QMGRNAME__') -
        type(sslpeermap) -
        descr('Map generic app QMGR NAME from CN to a user') -
        sslpeer('CN=__SHORTPREFIX__M*,OU=*/__CLUSTER__/*,OU=IBM MQ QMgr, O=ITSS, L=Melbourne, S=VIC, C=AU') -
        usersrc(map) -
        mcauser('__MQAPPUSER__') -
        action(replace)

*  Large message App cluster qmgr -> __MQAPPUSER__
set chlauth('__CLUSTER__.__QMGRNAME__') -
        type(sslpeermap) -
        descr('Map generic large app QMGR NAME from CN to a user') -
        sslpeer('CN=__SHORTPREFIX__L*,OU=*/__CLUSTER__/*,OU=IBM MQ QMgr, O=ITSS, L=Melbourne, S=VIC, C=AU') -
        usersrc(map) -
        mcauser('__MQAPPUSER__') -
        action(replace)

*  IIB cluster qmgr -> __MQIIBUSER__
set chlauth('__CLUSTER__.__QMGRNAME__') -
        type(sslpeermap) -
        descr('Map generic IIB QMGR NAME from CN to a user') -
        sslpeer('CN=__SHORTPREFIX__I*,OU=*/__CLUSTER__/*,OU=IBM MQ QMgr, O=ITSS, L=Melbourne, S=VIC, C=AU') -
        usersrc(map) -
        mcauser('__MQIIBUSER__') -
        action(replace)
	
*  Jumbo IIB cluster qmgr -> __MQIIBUSER__
set chlauth('__CLUSTER__.__QMGRNAME__') -
        type(sslpeermap) -
        descr('Map generic Jumbo IIB QMGR NAME from CN to a user') -
        sslpeer('CN=__SHORTPREFIX__J*,OU=*/__CLUSTER__/*,OU=IBM MQ QMgr, O=ITSS, L=Melbourne, S=VIC, C=AU') -
        usersrc(map) -
        mcauser('__MQIIBUSER__') -
        action(replace)
	
*  IIB cluster qmgr -> __MQRATUSER__
set chlauth('__CLUSTER__.__QMGRNAME__') -
        type(sslpeermap) -
        descr('Map generic IIB RAT QMGR NAME from CN to a user') -
        sslpeer('CN=__SHORTPREFIX__B*,OU=*/__CLUSTER__/*,OU=IBM MQ QMgr, O=ITSS, L=Melbourne, S=VIC, C=AU') -
        usersrc(map) -
        mcauser('__MQRATUSER__') -
        action(replace)
		
*  IIB cluster qmgr -> __MQMFUSER__
set chlauth('__CLUSTER__.__QMGRNAME__') -
        type(sslpeermap) -
        descr('Map generic mainframe QMGR NAME from CN to a user') -
        sslpeer('CN=V*,OU=*/__CLUSTER__/*,OU=IBM MQ QMgr, O=ITSS, L=Melbourne, S=VIC, C=AU') -
        usersrc(map) -
        mcauser('__MQMFUSER__') -
        action(replace)
								
*  General cluster qmgr -> __MQCLUSUSER__
set chlauth('__CLUSTER__.__QMGRNAME__') -
        type(sslpeermap) -
        descr('Map generic app QMGR NAME from CN to a user') -
        sslpeer('CN=*,OU=*/__CLUSTER__/*,OU=IBM MQ QMgr, O=ITSS, L=Melbourne, S=VIC, C=AU') -
        usersrc(map) -
        mcauser('__MQCLUSUSER__') -
        action(replace)

* ---------------------------------------------------
* Change cluster sender channel to FR to be SSL enabled
alter chl(__CLUSTER__.__REPOQM__) -
	chltype(clussdr) -
	trptype(tcp) -
	sslciph(TLS_RSA_WITH_AES_128_CBC_SHA256) -
	sslpeer('CN=*, OU=*/__CLUSTER__/*, OU=IBM MQ QMgr, O=ITSS, L=Melbourne, S=VIC, C=AU')

* ---------------------------------------------------
* Change receiver channel from AWS to enforce SSL
alter chl(__AWSQM__.__QMGRNAME__) -
	chltype(rcvr) -
	trptype(tcp) -
	sslciph(TLS_RSA_WITH_AES_256_CBC_SHA256) -
	sslpeer('CN=__AWSQM__, OU=*, OU=*, O=ITSS, L=*, S=VIC, C=AU') -
	sslcauth(required)

* ---------------------------------------------------
*  App qmgr -> __MQAWSUSER__
set chlauth('__AWSQM__.__QMGRNAME__') -
        type(sslpeermap) -
        descr('Map AWS QMGR NAME from CN to a user') -
        sslpeer('CN=__AWSQM__, OU=IBM MQ QMgr, OU=*/__CLUSTER__/*, O=ITSS, L=Geelong, S=VIC, C=AU') -
        sslcerti('CN=WINVMCA1, DC=melb, DC=ad') -
        usersrc(map) -
        mcauser('__MQAWSUSER__') -
        action(replace)

*  App qmgr -> __MQAWSUSER__ (with reversed OU fields and L=Melbourne)
set chlauth('__AWSQM__.__QMGRNAME__') -
        type(sslpeermap) -
        descr('Map AWS QMGR NAME from CN to a user') -
        sslpeer('CN=__AWSQM__, OU=*/__CLUSTER__/*, OU=IBM MQ QMgr, O=ITSS, L=Melbourne, S=VIC, C=AU') -
        sslcerti('CN=WINVMCA1, DC=melb, DC=ad') -
        usersrc(map) -
        mcauser('__MQAWSUSER__') -
        action(replace)

* ---------------------------------------------------
*  Unknown certs -> noaccess
set chlauth('__AWSQM__.__QMGRNAME__') -
        type(sslpeermap) -
        descr('Map any other cert to NOACCESS') -
        sslpeer(' ') -
        sslcerti(' ') -
        usersrc(NOACCESS) -
        action(replace)

* ---------------------------------------------------
* Change sender channel to AWS to enforce SSL
alter chl(__QMGRNAME__.__AWSQM__) -
	chltype(sdr) -
	trptype(tcp) -
	sslciph(TLS_RSA_WITH_AES_256_CBC_SHA256) -
	sslpeer('CN=__AWSQM__, OU=*, OU=*, O=ITSS, L=*, S=VIC, C=AU')

* ---------------------------------------------------
*  App qmgr -> Allowed
set chlauth('__QMGRNAME__.__AWSQM__') -
        type(sslpeermap) -
        descr('Map AWS QMGR NAME from CN allowed') -
        sslpeer('CN=__AWSQM__, OU=IBM MQ QMgr, OU=*/__CLUSTER__/*, O=ITSS, L=Geelong, S=VIC, C=AU') -
        sslcerti('CN=WINVMCA1, DC=melb, DC=ad') -
        usersrc(channel) -
        action(replace)

*  App qmgr -> Allowed (with reversed OU fields and L=Melbourne)
set chlauth('__QMGRNAME__.__AWSQM__') -
        type(sslpeermap) -
        descr('Map AWS QMGR NAME from CN allowed') -
        sslpeer('CN=__AWSQM__, OU=*/__CLUSTER__/*, OU=IBM MQ QMgr, O=ITSS, L=Melbourne, S=VIC, C=AU') -
        sslcerti('CN=WINVMCA1, DC=melb, DC=ad') -
        usersrc(channel) -
        action(replace)

* ---------------------------------------------------
*  Unknown certs -> noaccess
set chlauth('__QMGRNAME__.__AWSQM__') -
        type(sslpeermap) -
        descr('Map any other cert to NOACCESS') -
        sslpeer(' ') -
        sslcerti(' ') -
        usersrc(NOACCESS) -
        action(replace)

* ---------------------------------------------------
* Refresh security to activate the new rules
refresh security(*) type(ssl)
refresh security(*) type(connauth)
refresh security(*) type(authserv)
