* runmqsc command file template
* hicaps_iib_rad_app.template
* relies on hicaps_iib_rad_apps.template.map

* ---------------------------------------------------
* Set Auth Records - HICAPS Service Queues
* ---------------------------------------------------


set authrec -
	objtype(queue) -
	profile('HICAPS.**') -
	principal('__IIBUSER__') -
	authrmv(all) -
	authadd(browse, get, inq, put, setall, setid, passall, passid, dsp)


* ---------------------------------------------------
* Define Queues - HICAPS Inbound
* ---------------------------------------------------

define ql('HICAPS.CLAIM.IN.BOQ') -
	descr('Backout Queue for HICAPS Inbound') -
	replace

define ql('HICAPS.CLAIM.IN.REQ') -
	descr('Request Queue for HICAPS Inbound') -
	boqname('HICAPS.CLAIM.IN.BOQ') -
	bothresh(1) -
	replace

define ql('HICAPS.CLAIM.IN.RESP') -
	descr('Response for HICAPS Inbound') -
	replace


* ---------------------------------------------------
* Define Queues - HICAPS Outbound
* ---------------------------------------------------

define ql('HICAPS.CLAIM.OUT.BOQ') -
	descr('Backout Queue for HICAPS Outbound') -
	replace

define ql('HICAPS.CLAIM.OUT.REQ') -
	descr('Request Queue for HICAPS Outbound') -
	boqname('HICAPS.CLAIM.OUT.BOQ') -
	bothresh(1) -
	replace

define ql('HICAPS.CLAIM.OUT.RESP') -
	descr('Response for HICAPS Outbound') -
	replace


* ---------------------------------------------------
* Define Queues - HICAPS Log
* ---------------------------------------------------

define ql('HICAPS.LOG.IN.BOQ') -
	descr('Backout Queue for HICAPS Log') -
	replace

define ql('HICAPS.LOG.IN') -
	descr('Request Queue for HICAPS Log') -
	boqname('HICAPS.LOG.IN.BOQ') -
	bothresh(1) -
	replace


* ---------------------------------------------------
* Refresh security to activate the new rules
refresh security(*) type(authserv)
