* runmqsc command file template
* hicaps_ibr_apps.template
* relies on hicaps_ibr_apps.template.map

* ---------------------------------------------------

define ql('HICAPS.RES.V1') -
	descr('HICAPS async response queue') -
	cluster(__CLUSNAME__) -
	boqname('HICAPS.BOQ.V1') -
	bothresh(3) -
	replace
	
define ql('HICAPS.BOQ.V1') -
	descr('Backout HICAPS async responses') -
	replace  
  
define ql('HICAPS.EX.V1') -
	descr('Exceptions from HICAPS async responses') -
	replace  

* define an Alias to match correct naming. This will allow the 
* implementation to be fixed later without needing the queue
* definitions to change
define qa('HICAPS.OUTBOUND.REQ.V1') -
	descr('HICAPS outbound request queue') -
	targtype(queue) -
	target('HICAPS.OUTBOUND.REQ') -
	cluster(__CLUSNAME__) -
	replace
		
define ql('HICAPS.OUTBOUND.REQ') -
	descr('HICAPS outbound request queue') -
	cluster(__CLUSNAME__) -
	boqname('HICAPS.OUTBOUND.BOQ.V1') -
	bothresh(3) -
	replace
	
define ql('HICAPS.OUTBOUND.BOQ.V1') -
	descr('Backout HICAPS outbound requests') -
	replace  
  
define ql('HICAPS.OUTBOUND.EX.V1') -
	descr('Exceptions from HICAPS outbound requests') -
	replace  
  
set authrec -
        objtype(queue) -
        profile('HICAPS.**') -
        principal('__CLUSUSER__') -
        authrmv(all) -
        authadd(put, setall)

set authrec -
	objtype(queue) -
	profile('HICAPSMESSAGELOG.REQ.V1') -
	principal('__IIBUSER__') -
	authrmv(all) -
	authadd(put,inq,dsp,setall,setid,passall,passid)

set authrec -
	objtype(queue) -
	profile('HICAPS.OUTBOUND.RES') -
	principal('__IIBUSER__') -
	authrmv(all) -
	authadd(put,inq,dsp,setall,setid,passall,passid)

set authrec -
	objtype(queue) -
	profile('HICAPS.REQ.V1') -
	principal('__IIBUSER__') -
	authrmv(all) -
	authadd(put,inq,dsp,setall,setid,passall,passid)


set authrec -
	objtype(queue) -
	profile('HICAPS.RES.V1') -
	principal('__IIBUSER__') -
	authrmv(all) -
	authadd(get, browse, inq)


set authrec -
	objtype(queue) -
	profile('HICAPS.BOQ.V1') -
	principal('__IIBUSER__') -
	authrmv(all) -
	authadd(get, browse, inq, put, setall, setid, passall, passid)


set authrec -
	objtype(queue) -
	profile('HICAPS.EX.V1') -
	principal('__IIBUSER__') -
	authrmv(all) -
	authadd(get, browse, inq, put, setall, setid, passall, passid)


set authrec -
	objtype(queue) -
	profile('HICAPS.OUTBOUND.REQ.V1') -
	principal('__IIBUSER__') -
	authrmv(all) -
	authadd(get, browse, inq)

set authrec -
	objtype(queue) -
	profile('HICAPS.OUTBOUND.REQ') -
	principal('__IIBUSER__') -
	authrmv(all) -
	authadd(get, browse, inq)


set authrec -
	objtype(queue) -
	profile('HICAPS.OUTBOUND.BOQ.V1') -
	principal('__IIBUSER__') -
	authrmv(all) -
	authadd(get, browse, inq, put, setall, setid, passall, passid)


set authrec -
	objtype(queue) -
	profile('HICAPS.OUTBOUND.EX.V1') -
	principal('__IIBUSER__') -
	authrmv(all) -
	authadd(get, browse, inq, put, setall, setid, passall, passid)

* ---------------------------------------------------
* Set up queue manager to keep cluster messages local
* ---------------------------------------------------

alter qmgr clwluseq(local)

* ---------------------------------------------------
* Refresh security to activate the new rules
refresh security(*) type(authserv)



