
* ---------------------------------------------------------------
*
* Define queue and subscription for asynchronous application logging
*
* ---------------------------------------------------------------

define ql(VWA.AUDIT.QUEUE) -
        descr('IIB flow audit log') -
        maxdepth(100000) -
        defpsist(no) -
    replace

define sub(VWA.AUDIT.SUB) -
        topicstr('$SYS/Broker/IB__QMGRNAME__/Monitoring/#') -
        dest(VWA.AUDIT.QUEUE) -
        subscope(QMGR) -
        replace

set authrec -
        profile('VWA.AUDIT.QUEUE') -
        objtype(queue) -
        principal('__IIBUSER__') -
        authadd( -
                browse, -
                get, -
                inq, -
                put, -
                set, -
                setall, -
                setid, -
                passall, -
                passid, -
                chg, -
                dsp -
        )

