* runmqsc command file template
* mainframecloud_iib_app.template
* relies on mainframecloud_iib_apps.template.map

* ---------------------------------------------------

* ---------------------------------------------------
* Set Auth Records - Service Component Queues
* ---------------------------------------------------

set authrec -
	objtype(queue) -
	profile('SC.MAINFRAME.CLOUD.**') -
	principal('__CLUSUSER__') -
	authrmv(all) -
	authadd(put, inq, setall)

set authrec -
	objtype(queue) -
	profile('SC.MAINFRAME.CLOUD.**') -
	principal('__IIBUSER__') -
	authrmv(all) -
	authadd(browse, get, inq, put, setall, setid, passall, passid, dsp)


* ---------------------------------------------------
* Define Queues - SC_MainframeCloud
* ---------------------------------------------------

define ql('SC.MAINFRAME.CLOUD.BOQ.V1') -
	descr('Backout Queue for SC_MainframeCloud') -
	replace
	
define ql('SC.MAINFRAME.CLOUD.REQ.V1') -
	descr('Request Queue for SC_MainframeCloud') -
	cluster(__CLUSNAME__) -
	clwlprty(__QPRIORITY__) -
	boqname('SC.MAINFRAME.CLOUD.BOQ.V1') -
	bothresh(1) -
	replace

* ---------------------------------------------------
* Refresh security to activate the new rules
refresh security(*) type(authserv)
