* runmqsc command file template
* msg_iib_app.template
* relies on msg_iib_apps.template.map

* ---------------------------------------------------
* Set Auth Records - Consumer Service Queues
* ---------------------------------------------------

set authrec -
	objtype(queue) -
	profile('CS.MESSAGING.**') -
	principal('__CLUSUSER__') -
	authrmv(all) -
	authadd(put, inq, setall)

set authrec -
	objtype(queue) -
	profile('CS.MESSAGING.**') -
	principal('__IIBUSER__') -
	authrmv(all) -
	authadd(browse, get, inq, put, setall, setid, passall, passid, dsp)

* ---------------------------------------------------
* Set Auth Records - Function Service Queues
* ---------------------------------------------------

set authrec -
	objtype(queue) -
	profile('FS.MESSAGING.**') -
	principal('__CLUSUSER__') -
	authrmv(all) -
	authadd(put, inq, setall)

set authrec -
	objtype(queue) -
	profile('FS.MESSAGING.**') -
	principal('__IIBUSER__') -
	authrmv(all) -
	authadd(browse, get, inq, put, setall, setid, passall, passid, dsp)

* ---------------------------------------------------
* Set Auth Records - Service Component Queues
* ---------------------------------------------------

set authrec -
	objtype(queue) -
	profile('SC.MESSAGING.**') -
	principal('__CLUSUSER__') -
	authrmv(all) -
	authadd(put, inq, setall)

set authrec -
	objtype(queue) -
	profile('SC.MESSAGING.**') -
	principal('__IIBUSER__') -
	authrmv(all) -
	authadd(browse, get, inq, put, setall, setid, passall, passid, dsp)

* ---------------------------------------------------
* Define Queues - CS_Messaging
* ---------------------------------------------------

define ql('CS.MESSAGING.RESP.V1') -
	descr('Replies to CS_Messaging') -
	replace

* ---------------------------------------------------
* Define Queues - FS_Messaging
* ---------------------------------------------------

define ql('FS.MESSAGING.BOQ.V1') -
	descr('Backout Queue for FS_Messaging') -
	replace
	
define ql('FS.MESSAGING.REQ.V1') -
	descr('Request Queue for FS_Messaging') -
	cluster(__CLUSNAME__) -
	clwlprty(__QPRIORITY__) -
	boqname('FS.MESSAGING.BOQ.V1') -
	bothresh(3) -
	replace
	
define ql('FS.MESSAGING.RESP.V1') -
	descr('Replies to FS_Messaging') -
	replace

* ---------------------------------------------------
* Define Queues - SC_Messaging
* ---------------------------------------------------

define ql('SC.MESSAGING.BOQ.V1') -
	descr('Backout Queue for SC_Messaging') -
	replace
	
define ql('SC.MESSAGING.REQ.V1') -
	descr('Request Queue for SC_Messaging') -
	cluster(__CLUSNAME__) -
	clwlprty(__QPRIORITY__) -
	boqname('SC.MESSAGING.BOQ.V1') -
	bothresh(1) -
	replace
	
define ql('SC.MESSAGING.EX.V1') -
	descr('Exception for one-way calls to SC_Messaging') -
	replace

* ---------------------------------------------------
* Define Queues - SC_TelstraMessaging
* ---------------------------------------------------

define ql('SC.MESSAGING.TELSTRA.BOQ.V1') -
	descr('Backout Queue for SC_TelstraMessaging') -
	replace
	
define ql('SC.MESSAGING.TELSTRA.REQ.V1') -
	descr('Request Queue for SC_TelstraMessaging') -
	cluster(__CLUSNAME__) -
	clwlprty(__QPRIORITY__) -
	boqname('SC.MESSAGING.TELSTRA.BOQ.V1') -
	bothresh(1) -
	replace
	
define ql('SC.MESSAGING.TELSTRA.EX.V1') -
	descr('Exception for one-way calls to SC_TelstraMessaging') -
	replace

* ---------------------------------------------------
* Refresh security to activate the new rules
refresh security(*) type(authserv)
