* runmqsc command file template
* mulegwy.template
* relies on mulegwy.template.map

* ---------------------------------------------------
* Set up user mapping for standard MuleSoft channels.
* Standard MuleSoft channels map by queue manager name (here)

* Map receiver channel users from the incoming
* generic queue manager name


* MuleSoft qmgr -> __MQMULEUSER__
set chlauth('__MQMULEQM__.__QMGRNAME__') -
	type(qmgrmap) -
	descr('Map MuleSoft QMGR NAME to a user') -
	qmname('__MQMULEQM__') -
	usersrc(map) -
	mcauser('__MQMULEUSER__') -
	action(replace)

* MuleSoft qmgr -> __MQMULEUSER__
set chlauth('__MQMULEQMB__.__QMGRNAME__') -
	type(qmgrmap) -
	descr('Map MuleSoft QMGR NAME to a user') -
	qmname('__MQMULEQMB__') -
	usersrc(map) -
	mcauser('__MQMULEUSER__') -
	action(replace)

* ---------------------------------------------------
* Allow non-repo queue managers access to what they need
* On a apps qmgr, they just need access to the queue manager
* and dead letter queue
* Access to QMGR __QMGRNAME__ 
set authrec -
	objtype(qmgr) -
	principal('__MQMULEUSER__') -
	authrmv(all) -
	authadd(connect, -
		inq, -
		setall)

* Access to SYSTEM.CLUSTER.COMMAND.QUEUE
set authrec -
	objtype(queue) -
	profile('SYSTEM.CLUSTER.COMMAND.QUEUE') -
	principal('__MQMULEUSER__') -
	authrmv(all) -
	authadd(none)

* Access to SYSTEM.DEAD.LETTER.QUEUE
set authrec -
	objtype(queue) -
	profile('SYSTEM.DEAD.LETTER.QUEUE') -
	principal('__MQMULEUSER__') -
	authrmv(all) -
	authadd(put, -
		setall)


* ---------------------------------------------------
* Create receiver channel from MuleSoft QM __MQMULEQM__
* This has to be done after security controls are set
* in order to avoid errors
define chl(__MQMULEQM__.__QMGRNAME__) -
	chltype(rcvr) -
	trptype(tcp) -
	descr('MuleSoft QM to Gateway Queue Manager in __MQMULEENV__') -
	mcauser('mqnoaccess') -
	npmspeed(normal) -
	maxmsgl(41943040) -
	replace

define chl(__MQMULEQMB__.__QMGRNAME__) -
	chltype(rcvr) -
	trptype(tcp) -
	descr('MuleSoft QM to Gateway Queue Manager in __MQMULEENVB__') -
	mcauser('mqnoaccess') -
	npmspeed(normal) -
	maxmsgl(41943040) -
	replace


* ---------------------------------------------------
* Create Transmission queue for MuleSoft QM
define qlocal(XMITQ.__MQMULEQM__) -
    descr('Messages queued for __MQMULEQM__') -
    usage(XMITQ) -
    trigger -
    trigtype(FIRST) -
    initq(SYSTEM.CHANNEL.INITQ) -
    replace

define qlocal(XMITQ.__MQMULEQMB__) -
    descr('Messages queued for __MQMULEQMB__') -
    usage(XMITQ) -
    trigger -
    trigtype(FIRST) -
    initq(SYSTEM.CHANNEL.INITQ) -
    replace

set authrec -
    objtype(queue) -
    profile('XMITQ.__MQMULEQM__') -
    principal('__MQIIBUSER__') -
    authrmv(all) -
    authadd(inq, put, setall)

set authrec -
    objtype(queue) -
    profile('XMITQ.__MQMULEQMB__') -
    principal('__MQIIBUSER__') -
    authrmv(all) -
    authadd(inq, put, setall)

set authrec -
    objtype(queue) -
    profile('XMITQ.__MQMULEQM__') -
    principal('__MQMFUSER__') -
    authrmv(all) -
    authadd(inq, put, setall)

set authrec -
    objtype(queue) -
    profile('XMITQ.__MQMULEQMB__') -
    principal('__MQMFUSER__') -
    authrmv(all) -
    authadd(inq, put, setall)

set authrec -
    objtype(queue) -
    profile('XMITQ.__MQMULEQM__') -
    principal('__MQAPPUSER__') -
    authrmv(all) -
    authadd(inq, put, setall)

set authrec -
    objtype(queue) -
    profile('XMITQ.__MQMULEQMB__') -
    principal('__MQAPPUSER__') -
    authrmv(all) -
    authadd(inq, put, setall)

* ---------------------------------------------------
* Create sender channel to MuleSoft QM
define chl(__QMGRNAME__.__MQMULEQM__) -
	chltype(sdr) -
	trptype(tcp) -
	descr('Send messages to MuleSoft QM __MQMULEQM__') -
	conname('__MQMULEHOST__(__MQMULEPORT__)') -
    xmitq(XMITQ.__MQMULEQM__) -
	npmspeed(normal) -
	maxmsgl(41943040) -
	replace

define chl(__QMGRNAME__.__MQMULEQMB__) -
	chltype(sdr) -
	trptype(tcp) -
	descr('Send messages to MuleSoft QM __MQMULEQMB__') -
	conname('__MQMULEHOSTB__(__MQMULEPORTB__)') -
    xmitq(XMITQ.__MQMULEQMB__) -
	npmspeed(normal) -
	maxmsgl(41943040) -
	replace


* ---------------------------------------------------
* Grant control access to receiver channel MCAUSER
* Access to MQMULEQM __QMGRNAME__
set authrec -
    objtype(channel) -
    profile('__MQMULEQM__.__QMGRNAME__') -
    principal('__MQMULEUSER__') -
    authrmv(all) -
    authadd(dsp, -
        ctrlx)

set authrec -
    objtype(channel) -
    profile('__MQMULEQMB__.__QMGRNAME__') -
    principal('__MQMULEUSER__') -
    authrmv(all) -
    authadd(dsp, -
        ctrlx)


* ---------------------------------------------------
* MuleSoft QM channels SSL config

* Change receiver channel from MuleSoft to enforce SSL
alter chl(__MQMULEQM__.__QMGRNAME__) -
	chltype(rcvr) -
	trptype(tcp) -
	sslciph(TLS_RSA_WITH_AES_256_CBC_SHA256) -
	sslpeer('CN=__MQMULEQM__, OU=*, OU=*, O=ITSS, L=*, S=VIC, C=AU') -
	sslcauth(required)

alter chl(__MQMULEQMB__.__QMGRNAME__) -
	chltype(rcvr) -
	trptype(tcp) -
	sslciph(TLS_RSA_WITH_AES_256_CBC_SHA256) -
	sslpeer('CN=__MQMULEQMB__, OU=*, OU=*, O=ITSS, L=*, S=VIC, C=AU') -
	sslcauth(required)

*  App qmgr -> __MQMULEUSER__
set chlauth('__MQMULEQM__.__QMGRNAME__') -
        type(sslpeermap) -
        descr('Map MuleSoft QMGR NAME from CN to a user') -
        sslpeer('CN=__MQMULEQM__, OU=IBM MQ QMgr, OU=*/__MQMULEENV__/*, O=ITSS, L=*, S=VIC, C=AU') -
        sslcerti('CN=WINVMCA1, DC=melb, DC=ad') -
        usersrc(map) -
        mcauser('__MQMULEUSER__') -
        action(replace)

set chlauth('__MQMULEQMB__.__QMGRNAME__') -
        type(sslpeermap) -
        descr('Map MuleSoft QMGR NAME from CN to a user') -
        sslpeer('CN=__MQMULEQMB__, OU=IBM MQ QMgr, OU=*/__MQMULEENVB__/*, O=ITSS, L=*, S=VIC, C=AU') -
        sslcerti('CN=WINVMCA1, DC=melb, DC=ad') -
        usersrc(map) -
        mcauser('__MQMULEUSER__') -
        action(replace)

*  App qmgr -> __MQMULEUSER__ (with reversed OU fields)
set chlauth('__MQMULEQM__.__QMGRNAME__') -
        type(sslpeermap) -
        descr('Map MuleSoft QMGR NAME from CN to a user') -
        sslpeer('CN=__MQMULEQM__, OU=*/__MQMULEENV__/*, OU=IBM MQ QMgr, O=ITSS, L=*, S=VIC, C=AU') -
        sslcerti('CN=WINVMCA1, DC=melb, DC=ad') -
        usersrc(map) -
        mcauser('__MQMULEUSER__') -
        action(replace)

set chlauth('__MQMULEQMB__.__QMGRNAME__') -
        type(sslpeermap) -
        descr('Map MuleSoft QMGR NAME from CN to a user') -
        sslpeer('CN=__MQMULEQMB__, OU=*/__MQMULEENVB__/*, OU=IBM MQ QMgr, O=ITSS, L=*, S=VIC, C=AU') -
        sslcerti('CN=WINVMCA1, DC=melb, DC=ad') -
        usersrc(map) -
        mcauser('__MQMULEUSER__') -
        action(replace)

* Change sender channel to MuleSoft to enforce SSL
alter chl(__QMGRNAME__.__MQMULEQM__) -
	chltype(sdr) -
	trptype(tcp) -
	sslciph(TLS_RSA_WITH_AES_256_CBC_SHA256) -
	sslpeer('CN=__MQMULEQM__, OU=*, OU=*, O=ITSS, L=*, S=VIC, C=AU')

alter chl(__QMGRNAME__.__MQMULEQMB__) -
	chltype(sdr) -
	trptype(tcp) -
	sslciph(TLS_RSA_WITH_AES_256_CBC_SHA256) -
	sslpeer('CN=__MQMULEQMB__, OU=*, OU=*, O=ITSS, L=*, S=VIC, C=AU')

*  App qmgr -> Allowed
set chlauth('__QMGRNAME__.__MQMULEQM__') -
        type(sslpeermap) -
        descr('Map MuleSoft QMGR NAME from CN allowed') -
        sslpeer('CN=__MQMULEQM__, OU=IBM MQ QMgr, OU=*/__MQMULEENV__/*, O=ITSS, L=*, S=VIC, C=AU') -
        sslcerti('CN=WINVMCA1, DC=melb, DC=ad') -
        usersrc(channel) -
        action(replace)

set chlauth('__QMGRNAME__.__MQMULEQMB__') -
        type(sslpeermap) -
        descr('Map MuleSoft QMGR NAME from CN allowed') -
        sslpeer('CN=__MQMULEQMB__, OU=IBM MQ QMgr, OU=*/__MQMULEENVB__/*, O=ITSS, L=*, S=VIC, C=AU') -
        sslcerti('CN=WINVMCA1, DC=melb, DC=ad') -
        usersrc(channel) -
        action(replace)

*  App qmgr -> Allowed (with reversed OU fields)
set chlauth('__QMGRNAME__.__MQMULEQM__') -
        type(sslpeermap) -
        descr('Map MuleSoft QMGR NAME from CN allowed') -
        sslpeer('CN=__MQMULEQM__, OU=*/__MQMULEENV__/*, OU=IBM MQ QMgr, O=ITSS, L=*, S=VIC, C=AU') -
        sslcerti('CN=WINVMCA1, DC=melb, DC=ad') -
        usersrc(channel) -
        action(replace)

set chlauth('__QMGRNAME__.__MQMULEQMB__') -
        type(sslpeermap) -
        descr('Map MuleSoft QMGR NAME from CN allowed') -
        sslpeer('CN=__MQMULEQMB__, OU=*/__MQMULEENVB__/*, OU=IBM MQ QMgr, O=ITSS, L=*, S=VIC, C=AU') -
        sslcerti('CN=WINVMCA1, DC=melb, DC=ad') -
        usersrc(channel) -
        action(replace)

*  Unknown certs -> noaccess
set chlauth('__QMGRNAME__.__MQMULEQM__') -
        type(sslpeermap) -
        descr('Map any other cert to NOACCESS') -
        sslpeer(' ') -
        sslcerti(' ') -
        usersrc(NOACCESS) -
        action(replace)

set chlauth('__QMGRNAME__.__MQMULEQMB__') -
        type(sslpeermap) -
        descr('Map any other cert to NOACCESS') -
        sslpeer(' ') -
        sslcerti(' ') -
        usersrc(NOACCESS) -
        action(replace)

set chlauth('__MQMULEQM__.__QMGRNAME__') -
        type(sslpeermap) -
        descr('Map any other cert to NOACCESS') -
        sslpeer(' ') -
        sslcerti(' ') -
        usersrc(NOACCESS) -
        action(replace)

set chlauth('__MQMULEQMB__.__QMGRNAME__') -
        type(sslpeermap) -
        descr('Map any other cert to NOACCESS') -
        sslpeer(' ') -
        sslcerti(' ') -
        usersrc(NOACCESS) -
        action(replace)

* ---------------------------------------------------
* Create MuleSoft Queue Manager Alias
define qr('__MQMULEQM__') -
    descr('Alias to allow reply messages to route to MuleSoft MQ') -
    rname(' ') -
    rqmname('__MQMULEQM__') -
    xmitq('XMITQ.__MQMULEQM__') -
    cluster('__CLUSNAME__') -
    clwlprty(__QPRTY__) -
    defbind(notfixed) -
    replace
    
define qr('__MQMULEQMB__') -
    descr('Alias to allow reply messages to route to MuleSoft MQ') -
    rname(' ') -
    rqmname('__MQMULEQMB__') -
    xmitq('XMITQ.__MQMULEQMB__') -
    cluster('__CLUSNAME__') -
    clwlprty(__QPRTY__) -
    defbind(notfixed) -
    replace

* ---------------------------------------------------
* Grant control access to MuleSoft Queue Manager Alias

set authrec -
    objtype(queue) -
    profile('__MQMULEQM__') -
    principal('__MQMFUSER__') -
    authrmv(all) -
    authadd(inq, put, setall)

set authrec -
    objtype(queue) -
    profile('__MQMULEQMB__') -
    principal('__MQMFUSER__') -
    authrmv(all) -
    authadd(inq, put, setall)

set authrec -
    objtype(queue) -
    profile('__MQMULEQM__') -
    principal('__MQAPPUSER__') -
    authrmv(all) -
    authadd(inq, put, setall)

set authrec -
    objtype(queue) -
    profile('__MQMULEQMB__') -
    principal('__MQAPPUSER__') -
    authrmv(all) -
    authadd(inq, put, setall)

set authrec -
    objtype(queue) -
    profile('__MQMULEQM__') -
    principal('__MQIIBUSER__') -
    authrmv(all) -
    authadd(inq, put, setall)

set authrec -
    objtype(queue) -
    profile('__MQMULEQMB__') -
    principal('__MQIIBUSER__') -
    authrmv(all) -
    authadd(inq, put, setall)

* ---------------------------------------------------
* Refresh security to activate the new rules
refresh security(*) type(ssl)
refresh security(*) type(connauth)
refresh security(*) type(authserv)
