* runmqsc command file template
* mytac_jumbo_iib_app.template
* relies on mytac_jumbo_iib_apps.template.map


* ---------------------------------------------------
* Set Auth Records - Service Component Queues
* ---------------------------------------------------

set authrec -
    objtype(queue) -
    profile('SC.EIPMYTACOUTBOUNDDOC.**') -
    principal('__IIBUSER__') -
    authrmv(all) -
    authadd(browse, get, inq, put, setall, setid, passall, passid, dsp)
 
set authrec -
    objtype(queue) -
    profile('SC.EIPMYTACOUTBOUNDDOC.**') -
    principal('__CLUSUSER__') -
    authrmv(all) -
    authadd(put, inq, setall)

set authrec -
    objtype(queue) -
    profile('SC.ONLINE.FORM.DOCUMENTS.**') -
    principal('__IIBUSER__') -
    authrmv(all) -
    authadd(browse, get, inq, put, setall, setid, passall, passid, dsp)
 
set authrec -
    objtype(queue) -
    profile('SC.ONLINE.FORM.DOCUMENTS.**') -
    principal('__CLUSUSER__') -
    authrmv(all) -
    authadd(put, inq, setall)


* ---------------------------------------------------
* Set Auth Records - Entity Service Queues
* ---------------------------------------------------

set authrec -
    objtype(queue) -
    profile('ES.FORM.DOCUMENTS.**') -
    principal('__IIBUSER__') -
    authrmv(all) -
    authadd(browse, get, inq, put, setall, setid, passall, passid, dsp)
 
set authrec -
    objtype(queue) -    
    profile('ES.FORM.DOCUMENTS.**') -
    principal('__CLUSUSER__') -
    authrmv(all) -
    authadd(put, inq, setall)


* ---------------------------------------------------
* Define Queues - SC_EIPmyTAC_Outbound
* ---------------------------------------------------

define ql('SC.EIPMYTACOUTBOUNDDOC.RESP.V1') -
    descr('Response Queue for SC_EIPmyTAC_Outbound') -
    replace


* ---------------------------------------------------
* Define Queues - SC_OnlineFormDocuments
* ---------------------------------------------------

define ql('SC.ONLINE.FORM.DOCUMENTS.REQ.BOQ.V1') -
    descr('Backout Queue for SC_OnlineFormDocuments') -
    replace

define ql('SC.ONLINE.FORM.DOCUMENTS.REQ.V1') -
    descr('Request Queue for SC_OnlineFormDocuments') -
    boqname('SC.ONLINE.FORM.DOCUMENTS.REQ.BOQ.V1') -
    bothresh(3) -
    replace

define ql('SC.ONLINE.FORM.DOCUMENTS.EX.V1') -
    descr('Exception Queue for any failures in SC_OnlineFormDocuments') -
    replace

* ---------------------------------------------------
* Define Queues - ES_FormDocuments
* ---------------------------------------------------

define ql('ES.FORM.DOCUMENTS.REQ.BOQ.V1') -
    descr('Backout Queue for ES_FormDocuments') -
    replace

define ql('ES.FORM.DOCUMENTS.REQ.V1') -
    descr('Request Queue for ES_FormDocuments') -
    boqname('ES.FORM.DOCUMENTS.REQ.BOQ.V1') -
    bothresh(3) -
    replace

define ql('ES.FORM.DOCUMENTS.RESP.V1') -
    descr('Response Queue for ES_FormDocuments') -
    replace


* ---------------------------------------------------
* Refresh security to activate the new rules
refresh security(*) type(authserv)
