* runmqsc command file template
* oraclefin_iib_app.template
* relies on oraclefin_iib_apps.template.map

* ---------------------------------------------------

* ---------------------------------------------------
* Set Auth Records - Consumer Service Queues
* ---------------------------------------------------
set authrec -
 objtype(queue) -
 profile('CS.TACGL.**') -
 principal('__IIBUSER__') -
 authrmv(all) -
 authadd(browse, get, inq, put, setall, setid, passall, passid, dsp)
 
set authrec -
 objtype(queue) -    
 profile('CS.TACGL.**') -
 principal('__CLUSUSER__') -
 authrmv(all) -
 authadd(put, inq, setall)

set authrec -
 objtype(queue) -
 profile('CS.ACCTIONGL.**') -
 principal('__IIBUSER__') -
 authrmv(all) -
 authadd(browse, get, inq, put, setall, setid, passall, passid, dsp)
 
set authrec -
 objtype(queue) -    
 profile('CS.ACCTIONGL.**') -
 principal('__CLUSUSER__') -
 authrmv(all) -
 authadd(put, inq, setall)

set authrec -
 objtype(queue) -
 profile('CS.PAYROLLGL.**') -
 principal('__IIBUSER__') -
 authrmv(all) -
 authadd(browse, get, inq, put, setall, setid, passall, passid, dsp)
 
set authrec -
 objtype(queue) -    
 profile('CS.PAYROLLGL.**') -
 principal('__CLUSUSER__') -
 authrmv(all) -
 authadd(put, inq, setall)

set authrec -
 objtype(queue) -
 profile('CS.VPCSGL.**') -
 principal('__IIBUSER__') -
 authrmv(all) -
 authadd(browse, get, inq, put, setall, setid, passall, passid, dsp)
 
set authrec -
 objtype(queue) -    
 profile('CS.VPCSGL.**') -
 principal('__CLUSUSER__') -
 authrmv(all) -
 authadd(put, inq, setall)
 
set authrec -
 objtype(queue) -
 profile('CS.TACPROJECTS.**') -
 principal('__IIBUSER__') -
 authrmv(all) -
 authadd(browse, get, inq, put, setall, setid, passall, passid, dsp)
 
set authrec -
 objtype(queue) -    
 profile('CS.TACPROJECTS.**') -
 principal('__CLUSUSER__') -
 authrmv(all) -
 authadd(put, inq, setall)

set authrec -
 objtype(queue) -
 profile('CS.AURIONPROJECTS.**') -
 principal('__IIBUSER__') -
 authrmv(all) -
 authadd(browse, get, inq, put, setall, setid, passall, passid, dsp)
 
set authrec -
 objtype(queue) -    
 profile('CS.AURIONPROJECTS.**') -
 principal('__CLUSUSER__') -
 authrmv(all) -
 authadd(put, inq, setall)
 
 set authrec -
 objtype(queue) -
 profile('CS.DAPTIVEPROJECTS.**') -
 principal('__IIBUSER__') -
 authrmv(all) -
 authadd(browse, get, inq, put, setall, setid, passall, passid, dsp)
 
set authrec -
 objtype(queue) -    
 profile('CS.DAPTIVEPROJECTS.**') -
 principal('__CLUSUSER__') -
 authrmv(all) -
 authadd(put, inq, setall)
 
set authrec -
 objtype(queue) -
 profile('CS.EMPLOYEEUPDATES.**') -
 principal('__IIBUSER__') -
 authrmv(all) -
 authadd(browse, get, inq, put, setall, setid, passall, passid, dsp)
 
set authrec -
 objtype(queue) -    
 profile('CS.EMPLOYEEUPDATES.**') -
 principal('__CLUSUSER__') -
 authrmv(all) -
 authadd(put, inq, setall)

* ---------------------------------------------------
* Set Auth Records - Entity Service Queues
* ---------------------------------------------------
set authrec -
 objtype(queue) -
 profile('ES.ORACLEPROCESSSTATUS.**') -
 principal('__IIBUSER__') -
 authrmv(all) -
 authadd(browse, get, inq, put, setall, setid, passall, passid, dsp)
 
set authrec -
 objtype(queue) -    
 profile('ES.ORACLEPROCESSSTATUS.**') -
 principal('__CLUSUSER__') -
 authrmv(all) -
 authadd(put, inq, setall)
 
set authrec -
 objtype(queue) -
 profile('ES.GENERALLEDGER.**') -
 principal('__IIBUSER__') -
 authrmv(all) -
 authadd(browse, get, inq, put, setall, setid, passall, passid, dsp)
 
set authrec -
 objtype(queue) -    
 profile('ES.GENERALLEDGER.**') -
 principal('__CLUSUSER__') -
 authrmv(all) -
 authadd(put, inq, setall)
 
set authrec -
 objtype(queue) -
 profile('ES.ORACLEPROJECT.**') -
 principal('__IIBUSER__') -
 authrmv(all) -
 authadd(browse, get, inq, put, setall, setid, passall, passid, dsp)
 
set authrec -
 objtype(queue) -    
 profile('ES.ORACLEPROJECT.**') -
 principal('__CLUSUSER__') -
 authrmv(all) -
 authadd(put, inq, setall)
 
* ---------------------------------------------------
* Set Auth Records - Service Component Queues
* ---------------------------------------------------
set authrec -
 objtype(queue) -
 profile('SC.ORACLEFINEIPREPOSITORY.**') -
 principal('__IIBUSER__') -
 authrmv(all) -
 authadd(browse, get, inq, put, setall, setid, passall, passid, dsp)
 
set authrec -
 objtype(queue) -
 profile('SC.ORACLEFINEIPREPOSITORY.**') -
 principal('__CLUSUSER__') -
 authrmv(all) -
 authadd(put, inq, setall)

* ---------------------------------------------------
* Define Queues - CS.TACGL.RESP.V1
* ---------------------------------------------------
define ql('CS.TACGL.RESP.V1') -
 descr('Response queue for TACGL') -
 replace

* ---------------------------------------------------
* Define Queues -CS.ACCTIONGL.RESP.V1 
* ---------------------------------------------------
define ql('CS.ACCTIONGL.RESP.V1') -
 descr('Response queue for ACCTIONGL') -
 replace

* ---------------------------------------------------
* Define Queues -CS.PAYROLLGL.RESP.V1
* ---------------------------------------------------
define ql('CS.PAYROLLGL.RESP.V1') -
 descr('Response queue for PAYROLLGL') -
 replace

* ---------------------------------------------------
* Define Queues -CS.VPCSGL.RESP.V1 
* ---------------------------------------------------
define ql('CS.VPCSGL.RESP.V1') -
 descr('Response queue for VPCSGL') -
 replace
 
* ---------------------------------------------------
* Define Queues -CS.TACPROJECTS.RESP.V1 
* ---------------------------------------------------
define ql('CS.TACPROJECTS.RESP.V1') -
 descr('Response queue for CS_TACProjects') -
 replace

* ---------------------------------------------------
* Define Queues -CS.AURIONPROJECTS.RESP.V1 
* ---------------------------------------------------
define ql('CS.AURIONPROJECTS.RESP.V1') -
 descr('Response queue for CS_AurionProjects') -
 replace

* ---------------------------------------------------
* Define Queues -CS.DAPTIVEPROJECTS.RESP.V1 
* ---------------------------------------------------
define ql('CS.DAPTIVEPROJECTS.RESP.V1') -
 descr('Response queue for CS_DaptiveProjects') -
 replace
 
* ---------------------------------------------------
* Define Queues -CS_EmployeeUpdates
* ---------------------------------------------------
define ql('CS.EMPLOYEEUPDATES.RESP.V1') -
 descr('Response queue for CS_EmployeeUpdates') -
 replace 
 
* ---------------------------------------------------
* Define Queues -ES_ORACLEPROCESSSTATUS
* ---------------------------------------------------
define ql('ES.ORACLEPROCESSSTATUS.RES.V1') -
 descr('Response queue for ORACLEPROCESSSTATUS') -
 replace

* ---------------------------------------------------
* Define Queues - ES_GeneralLedger.
* ---------------------------------------------------
define ql('ES.GENERALLEDGER.REQ.V1') -
 descr('Request queue for ES_GeneralLedger') -
 replace

* ---------------------------------------------------
* Define Queues - ES_OracleProject.
* ---------------------------------------------------
define ql('ES.ORACLEPROJECT.REQ.V1') -
 descr('Request queue for ES_OracleProject') -
 replace
 
* ---------------------------------------------------
* Define Queues - SC_OracleFinEIPReposiroty
* ---------------------------------------------------
define ql('SC.ORACLEFINEIPREPOSITORY.BOQ.V1') -
 descr('Backout queue for SC_SplunkEIPReposiroty') -
 replace
  
define ql('SC.ORACLEFINEIPREPOSITORY.REQ.V1') -
 descr('Request queue for SC_SplunkEIPReposiroty') -
 cluster(__CLUSNAME__) -
 clwlprty(__QPRIORITY__) -
 boqname('SC.ORACLEFINEIPREPOSITORY.BOQ.V1') -
 bothresh(1) -
 replace


* ---------------------------------------------------
* Refresh security to activate the new rules
refresh security(*) type(authserv)
