* runmqsc command file template
* pcs_app.template
* relies on pcs_app.template.map

* ---------------------------------------------------
* Set Auth Records
* ---------------------------------------------------

set authrec -
	objtype(qmgr) -
	principal('__PCSUSER__') -
	authrmv(all) -
	authadd(connect, inq, setall)

set authrec -
	objtype(queue) -
	profile('PCS.**') -
	principal('__PCSUSER__') -
	authrmv(all) -
	authadd(browse, get, inq, put, setall, dsp, passall)

set authrec -
	objtype(queue) -
	profile('PCS.**') -
	principal('__CLUSUSER__') -
	authrmv(all) -
	authadd(put, inq, setall)

* ---------------------------------------------------
* Create Channel and Channel Auth Records
* ---------------------------------------------------
define chl(PCS.__QMGRNAME__) -
	chltype(svrconn) -
	descr('PCS connects to QM via this channel') -
	trptype(tcp) -
	mcauser('*NOACCESS') -
	maxinst(20) -
	sslciph(TLS_RSA_WITH_AES_128_CBC_SHA256) -
	sslcauth(required) -
	sslpeer('__SSLPEER__') -
	replace

set chlauth(PCS.__QMGRNAME__) -
	type(sslpeermap) -
	descr('Map CN=WAS PCS to user __PCSUSER__') -
	sslpeer('CN=WAS PCS') -
	address('*') -
	usersrc(map) -
	mcauser('__PCSUSER__') -
	chckclnt(asqmgr) -
	action(replace)
	

* ---------------------------------------------------
* Define Queues
* ---------------------------------------------------
define ql('PCS.APP.BOQ') -
	descr('Backout queue for PCS App') -
	replace

define ql('PCS.APP.REQ') -
	descr('Request queue for PCS App') -
	cluster(__CLUSNAME__) -
	clwlprty(__QPRIORITY__) -
	boqname('PCS.APP.BOQ') -
	bothresh(1) -
	replace


* ---------------------------------------------------
* Define Topic
* ---------------------------------------------------
set authrec -
	objtype(topic) -
	profile('PCS.APP.RESP') -
	principal('__PCSUSER__') -
	authrmv(all) -
	authadd(pub, dsp)

define topic('PCS.APP.RESP') -
	TYPE(LOCAL) -
	DESCR('PCS notification tree root') -
	PUBSCOPE(QMGR) - 
	SUBSCOPE(QMGR) - 
	TOPICSTR('pcs') -
	DEFPSIST(YES) -
	CLUSTER (' ') -
	replace

DEFINE QALIAS(ES.PCS.NOTIFICATION.REQ.V1) -
    TARGTYPE(QUEUE) -
	TARGET(ES.PCS.NOTIFICATION.REQ.V1) -
	DEFBIND(NOTFIXED) -
	DEFPSIST(YES) -
	REPLACE
	
Define sub('ES.PCS.NOTIFICATION.SUB') - 
	DEST('ES.PCS.NOTIFICATION.REQ.V1') -
	DESTCLAS(PROVIDED) -
	EXPIRY(UNLIMITED) - 
	PUBPRTY(ASPUB) - 
	SUBSCOPE(QMGR) -
	TOPICSTR('pcs/oes') -
	REPLACE
	
* ---------------------------------------------------
* Refresh security to activate the new rules
refresh security(*) type(authserv)
