* runmqsc command file template
* sms_iib_app.template
* relies on sms_iib_apps.template.map

* ---------------------------------------------------

* ---------------------------------------------------
* Set Auth Records - Consumer Service Queues
* ---------------------------------------------------
 
set authrec -
 objtype(queue) -
 profile('CS.NAC.MESSAGINGSERVICE.**') -
 principal('__IIBUSER__') -
 authrmv(all) -
 authadd(browse, get, inq, put, setall, setid, passall, passid, dsp)
 
set authrec -
 objtype(queue) -
 profile('CS.NAC.MESSAGINGSERVICE.**') -
 principal('__CLUSUSER__') -
 authrmv(all) -
 authadd(put, inq, setall)

* ---------------------------------------------------
* Set Auth Records - Entity Service Queues
* ---------------------------------------------------
 
set authrec -
 objtype(queue) -
 profile('ES.MESSAGINGSERVICE.**') -
 principal('__IIBUSER__') -
 authrmv(all) -
 authadd(browse, get, inq, put, setall, setid, passall, passid, dsp)
 
set authrec -
 objtype(queue) -
 profile('ES.MESSAGINGSERVICE.**') -
 principal('__CLUSUSER__') -
 authrmv(all) -
 authadd(put, inq, setall)
 
* ---------------------------------------------------
* Set Auth Records - Service Component Queues
* ---------------------------------------------------
 
set authrec -
 objtype(queue) -
 profile('SC.EIP.MESSAGING.**') -
 principal('__IIBUSER__') -
 authrmv(all) -
 authadd(browse, get, inq, put, setall, setid, passall, passid, dsp)
 
set authrec -
 objtype(queue) -
 profile('SC.EIP.MESSAGING.**') -
 principal('__CLUSUSER__') -
 authrmv(all) -
 authadd(put, inq, setall)
 
* ---------------------------------------------------
* Define Queues - CS_NACMessagingService
* ---------------------------------------------------

define ql('CS.NAC.MESSAGINGSERVICE.BOQ.V1') -
 descr('Backout queue for CS_NACMessagingService') -
 replace
  
define ql('CS.NAC.MESSAGINGSERVICE.REQ.V1') -
 descr('Request queue for CS_NACMessagingService') -
 cluster(__CLUSNAME__) -
 clwlprty(__QPRIORITY__) -
 boqname('CS.NAC.MESSAGINGSERVICE.BOQ.V1') -
 bothresh(1) -
 replace
 
define ql('CS.NAC.MESSAGINGSERVICE.RESP.V1') -
 descr('Replies to CS_NACMessagingService') -
 replace
  
* ---------------------------------------------------
* Define Queues - ES_MessagingService
* ---------------------------------------------------

define ql('ES.MESSAGINGSERVICE.BOQ.V1') -
 descr('Backout queue for ES_MessagingService') -
 replace
  
define ql('ES.MESSAGINGSERVICE.REQ.V1') -
 descr('Request queue for ES_MessagingService') -
 cluster(__CLUSNAME__) -
 clwlprty(__QPRIORITY__) -
 boqname('ES.MESSAGINGSERVICE.BOQ.V1') -
 bothresh(1) -
 replace
 
define ql('ES.MESSAGINGSERVICE.RESP.V1') -
 descr('Replies to ES_MessagingService') -
 replace

* ---------------------------------------------------
* Define Queues - SC_EIP_Messaging
* ---------------------------------------------------
 
define ql('SC.EIP.MESSAGING.BOQ.V1') -
 descr('Backout queue for SC_EIP_Messaging') -
 replace
 
define ql('SC.EIP.MESSAGING.REQ.V1') -
 descr('Request queue for SC_EIP_Messaging') -
 cluster(__CLUSNAME__) -
 clwlprty(__QPRIORITY__) -
 boqname('SC.EIP.MESSAGING.BOQ.V1') -
 bothresh(1) -
 replace

* ---------------------------------------------------
* Refresh security to activate the new rules
refresh security(*) type(authserv)
