* runmqsc command file template
* apps.template
* relies on apps.template.map

* ---------------------------------------------------
* Set defaults for channels
alter chl(SYSTEM.AUTO.RECEIVER) chltype(RCVR) -
        npmspeed(normal) -
	mcauser('mqnoaccess')
alter chl(SYSTEM.AUTO.SVRCONN) chltype(SVRCONN) -
	mcauser('mqnoaccess')
alter chl(SYSTEM.DEF.CLUSRCVR) chltype(CLUSRCVR) -
	npmspeed(normal) -
	mcauser('mqnoaccess')
alter chl(SYSTEM.DEF.CLUSSDR) chltype(CLUSSDR) -
        npmspeed(normal)
alter chl(SYSTEM.DEF.RECEIVER) chltype(RCVR) -
        npmspeed(normal) -
	mcauser('mqnoaccess')
alter chl(SYSTEM.DEF.REQUESTER) chltype(RQSTR) -
        npmspeed(normal) -
	mcauser('mqnoaccess')
alter chl(SYSTEM.DEF.SENDER) chltype(SDR) -
        npmspeed(normal)
alter chl(SYSTEM.DEF.SERVER) chltype(SVR) -
        npmspeed(normal)
alter chl(SYSTEM.DEF.SVRCONN) chltype(SVRCONN) -
	mcauser('mqnoaccess')

* ---------------------------------------------------
* Set defaults for queues
alter qlocal(SYSTEM.DEFAULT.LOCAL.QUEUE) -
        npmclass(high) -
	defbind(notfixed)

alter qremote(SYSTEM.DEFAULT.REMOTE.QUEUE) -
	defbind(notfixed)

alter qalias(SYSTEM.DEFAULT.ALIAS.QUEUE) -
	defbind(notfixed)

alter qmodel(SYSTEM.DEFAULT.MODEL.QUEUE) -
        npmclass(high)

* ---------------------------------------------------
* Disable Reverse DNS lookup for performance and security
alter qmgr revdns(disabled)

* ---------------------------------------------------
* Use separate transmit queue for each cluster channel
alter qmgr defclxq(channel)

* ---------------------------------------------------
* Enable monitoring of queue and channel timings
alter qmgr monq(high) monchl(high)


* ---------------------------------------------------
* Set up queue manager to keep cluster messages local
* ---------------------------------------------------

alter qmgr clwluseq(local)

* ---------------------------------------------------
* Tell qmgr to restrict SSL/TLS to using FIPS certified ciphers
alter qmgr sslfips(yes)

* ---------------------------------------------------
* Tell MQ how to do OS based authentication
define authinfo(CLIENT.IDPWOS) authtype(idpwos) -
	descr('Force client admins to sign in. Local is allowed') -
	adoptctx(yes) -
	chckclnt(optional) -
	chcklocl(optional) -
	replace

* ---------------------------------------------------
* Tell MQ how to do LDAP based authentication and authorization
define authinfo(CLIENT.IDPWLDAP) authtype(idpwldap) -
	descr('Force client admins to sign in. Everything is LDAP') -
	adoptctx(yes) -
	chckclnt(optional) -
	chcklocl(optional) -
	authormd(__AUTHORMD__) -
	basedng('__BASEDNG__') -
	basednu('__BASEDNU__') -
	classgrp('__CLASSGRP__') -
	classusr('__CLASSUSR__') -
	conname('__CONNAME__(__LDAPPORT__)') -
	findgrp('__FINDGRP__') -
	grpfield('__GRPFIELD__') -
	ldapuser('__LDAPUSER__') -
	ldappwd('__LDAPPWD__') -
	nestgrp(__NESTGRP__) -
	seccomm(__SECCOMM__) -
	shortusr('__SHORTUSR__') -
	usrfield('__USRFIELD__') -
	replace

* ---------------------------------------------------
* Tell QMGR to use LDAP based authentication
* and authorization
alter qmgr connauth(CLIENT.IDPWLDAP)

* ---------------------------------------------------
* Activate LDAP authentication and authorization
refresh security(*) type(connauth)

* ---------------------------------------------------
* Define listener on TCP port PORT
define listener(TCP.LISTENER) -
	trptype(tcp) -
	descr('TCP Listener for QMGR __QMGRNAME__') -
	control(qmgr) -
	port(__QMPORT__) -
	backlog(20) -
	ipaddr('__QMGRHOST__') -
	replace

* ---------------------------------------------------
* Start the listener so that cluster creation can work
start listener(TCP.LISTENER)

* ---------------------------------------------------
* Create client channel for QM administration
define chl(ADMIN.__QMGRNAME__) -
	chltype(svrconn) -
	descr('Administer QM via this admin channel') -
	trptype(tcp) -
	mcauser('mqnoaccess') -
	maxinst(20) -
	replace

* ---------------------------------------------------
* Create client channel for QM monitoring
define chl(MONITOR.__QMGRNAME__) -
	chltype(svrconn) -
	descr('Monitor QM via this admin channel') -
	trptype(tcp) -
	mcauser('__MONITORUSER__') -
	maxinst(20) -
	replace

* ---------------------------------------------------
* Set up user mapping for channels.
* Cluster channels map by queue manager name (here)
* Admin Client channels map by login (via authinfo)

* Map cluster receiver channel users from the incoming
* generic queue manager name

* Full Repo qmgr -> __MQREPOUSER__
set chlauth('__CLUSNAME__.__QMGRNAME__') -
	type(qmgrmap) -
	descr('Map generic repo QMGR NAME to a user') -
	qmname('__REPOPREFIX__*') -
	usersrc(map) -
	mcauser('__MQREPOUSER__') -
	action(add)

* App Qmgr -> __MQCLUSUSER__
set chlauth('__CLUSNAME__.__QMGRNAME__') -
	type(qmgrmap) -
	descr('Map generic app QMGR NAME to a user') -
	qmname('__SHORTPREFIX__*') -
	usersrc(map) -
	mcauser('__MQCLUSUSER__') -
	action(add)

* ADMIN Client -> Authenticated user
set chlauth('ADMIN.__QMGRNAME__') -
	type(addressmap) -
	chckclnt(required) -
	address('*') -
	usersrc(map) -
	mcauser('MQADMIN')

* ADMIN Client -> Allow admin users
set chlauth('ADMIN.__QMGRNAME__') -
        type(blockuser) -
        userlist('mqnoaccess')

* ---------------------------------------------------
* Set up security controls for access to Full Repository queue manager

* Allow admin access by role membership
* Access to qmgr
set authrec -
	objtype(qmgr) -
	group('__ADMINROLE__') -
	authrmv(all) -
	authadd(chg, -
		connect, -
		crt, -
		dlt, -
		dsp, -
		inq, -
		set, -
		setall, -
		setid, -
		system)

* Access to all authinfo objects
set authrec -
	objtype(authinfo) -
	profile('**') -
	group('__ADMINROLE__') -
	authrmv(all) -
	authadd(alladm)

* Access to all channel objects
set authrec -
	objtype(channel) -
	profile('**') -
	group('__ADMINROLE__') -
	authrmv(all) -
	authadd(alladm)

* Access to all clntconn objects
set authrec -
	objtype(clntconn) -
	profile('**') -
	group('__ADMINROLE__') -
	authrmv(all) -
	authadd(alladm)

* Access to all comminfo objects
set authrec -
	objtype(comminfo) -
	profile('**') -
	group('__ADMINROLE__') -
	authrmv(all) -
	authadd(alladm)

* Access to all listener objects
set authrec -
	objtype(listener) -
	profile('**') -
	group('__ADMINROLE__') -
	authrmv(all) -
	authadd(alladm)

* Access to all namelist objects
set authrec -
	objtype(namelist) -
	profile('**') -
	group('__ADMINROLE__') -
	authrmv(all) -
	authadd(alladm)

* Access to all process objects
set authrec -
	objtype(process) -
	profile('**') -
	group('__ADMINROLE__') -
	authrmv(all) -
	authadd(alladm)

* Access to all queue objects
set authrec -
	objtype(queue) -
	profile('**') -
	group('__ADMINROLE__') -
	authrmv(all) -
	authadd(alladm, -
		allmqi)

* Access to all rqmname objects
set authrec -
	objtype(rqmname) -
	profile('**') -
	group('__ADMINROLE__') -
	authrmv(all) -
	authadd(alladm)

* Access to all service objects
set authrec -
	objtype(service) -
	profile('**') -
	group('__ADMINROLE__') -
	authrmv(all) -
	authadd(alladm)

* Access to all topic objects
set authrec -
	objtype(topic) -
	profile('**') -
	group('__ADMINROLE__') -
	authrmv(all) -
	authadd(alladm, -
		allmqi)

* Allow reader access by role membership
* Access to qmgr
set authrec -
	objtype(qmgr) -
	group('__READERROLE__') -
	authrmv(all) -
	authadd(connect, -
		dsp, -
		inq)

* Access to SYSTEM.ADMIN.COMMAND.QUEUE
set authrec -
	objtype(queue) -
	profile(SYSTEM.ADMIN.COMMAND.QUEUE) -
	group('__READERROLE__') -
	authadd(inq, -
		put, -
		dsp)

* Access to SYSTEM.DEFAULT.MODEL.QUEUE
set authrec -
	objtype(queue) -
	profile(SYSTEM.DEFAULT.MODEL.QUEUE) -
	group('__READERROLE__') -
	authadd(browse, -
		get, -
		inq, -
		dsp)

* Access to SYSTEM.MQEXPLORER.REPLY.MODEL
set authrec -
        objtype(queue) -
        profile(SYSTEM.MQEXPLORER.REPLY.MODEL) -
        group('__READERROLE__') -
        authadd(browse, -
		dsp, -
                get, -
                inq)

* Access to all authinfo objects
set authrec -
	objtype(authinfo) -
	profile('**') -
	group('__READERROLE__') -
	authrmv(all) -
	authadd(dsp, -
		inq)

* Access to all channel objects
set authrec -
	objtype(channel) -
	profile('**') -
	group('__READERROLE__') -
	authrmv(all) -
	authadd(dsp)

* Access to all clntconn objects
set authrec -
	objtype(clntconn) -
	profile('**') -
	group('__READERROLE__') -
	authrmv(all) -
	authadd(dsp)

* Access to all comminfo objects
set authrec -
	objtype(comminfo) -
	profile('**') -
	group('__READERROLE__') -
	authrmv(all) -
	authadd(dsp)

* Access to all listener objects
set authrec -
	objtype(listener) -
	profile('**') -
	group('__READERROLE__') -
	authrmv(all) -
	authadd(dsp)

* Access to all namelist objects
set authrec -
	objtype(namelist) -
	profile('**') -
	group('__READERROLE__') -
	authrmv(all) -
	authadd(dsp, -
		inq)

* Access to all process objects
set authrec -
	objtype(process) -
	profile('**') -
	group('__READERROLE__') -
	authrmv(all) -
	authadd(dsp, -
		inq)

* Access to all queue objects
set authrec -
	objtype(queue) -
	profile('**') -
	group('__READERROLE__') -
	authrmv(all) -
	authadd(browse, -
		dsp, -
		inq)

set authrec -
	objtype(rqmname) -
	profile('**') -
	group('__READERROLE__') -
	authrmv(all) -
	authadd(none)

* Access to all service objects
set authrec -
	objtype(service) -
	profile('**') -
	group('__READERROLE__') -
	authrmv(all) -
	authadd(dsp)

* Access to all topic objects
set authrec -
	objtype(topic) -
	profile('**') -
	group('__READERROLE__') -
	authrmv(all) -
	authadd(dsp, -
		sub)

* Allow monitor access by role membership
* Access to qmgr
set authrec -
	objtype(qmgr) -
	principal('__MONITORUSER__') -
	authrmv(all) -
	authadd(connect, -
		dsp, -
		inq)

* Access to SYSTEM.ADMIN.COMMAND.QUEUE
set authrec -
	objtype(queue) -
	profile(SYSTEM.ADMIN.COMMAND.QUEUE) -
	principal('__MONITORUSER__') -
	authadd(inq, -
		put, -
		dsp)

* Access to SYSTEM.DEFAULT.MODEL.QUEUE
set authrec -
	objtype(queue) -
	profile(SYSTEM.DEFAULT.MODEL.QUEUE) -
	principal('__MONITORUSER__') -
	authadd(browse, -
		get, -
		inq, -
		dsp)

* Access to SYSTEM.MQEXPLORER.REPLY.MODEL
set authrec -
        objtype(queue) -
        profile(SYSTEM.MQEXPLORER.REPLY.MODEL) -
        principal('__MONITORUSER__') -
        authadd(browse, -
		dsp, -
                get, -
                inq)

* Access to all authinfo objects
set authrec -
	objtype(authinfo) -
	profile('**') -
	principal('__MONITORUSER__') -
	authrmv(all) -
	authadd(dsp, -
		inq)

* Access to all channel objects
set authrec -
	objtype(channel) -
	profile('**') -
	principal('__MONITORUSER__') -
	authrmv(all) -
	authadd(dsp)

* Access to all clntconn objects
set authrec -
	objtype(clntconn) -
	profile('**') -
	principal('__MONITORUSER__') -
	authrmv(all) -
	authadd(dsp)

* Access to all comminfo objects
set authrec -
	objtype(comminfo) -
	profile('**') -
	principal('__MONITORUSER__') -
	authrmv(all) -
	authadd(dsp)

* Access to all listener objects
set authrec -
	objtype(listener) -
	profile('**') -
	principal('__MONITORUSER__') -
	authrmv(all) -
	authadd(dsp)

* Access to all namelist objects
set authrec -
	objtype(namelist) -
	profile('**') -
	principal('__MONITORUSER__') -
	authrmv(all) -
	authadd(dsp, -
		inq)

* Access to all process objects
set authrec -
	objtype(process) -
	profile('**') -
	principal('__MONITORUSER__') -
	authrmv(all) -
	authadd(dsp, -
		inq)

* Access to all queue objects
set authrec -
	objtype(queue) -
	profile('**') -
	principal('__MONITORUSER__') -
	authrmv(all) -
	authadd(dsp, -
		inq)

set authrec -
	objtype(rqmname) -
	profile('**') -
	principal('__MONITORUSER__') -
	authrmv(all) -
	authadd(none)

* Access to all service objects
set authrec -
	objtype(service) -
	profile('**') -
	principal('__MONITORUSER__') -
	authrmv(all) -
	authadd(dsp)

* Access to all topic objects
set authrec -
	objtype(topic) -
	profile('**') -
	principal('__MONITORUSER__') -
	authrmv(all) -
	authadd(dsp)

* Allow developer access by role membership
* Access to qmgr
set authrec -
	objtype(qmgr) -
	group('__DEVROLE__') -
	authrmv(all) -
	authadd(chg, -
		connect, -
		dsp, -
		inq, -
		set)

* Access to SYSTEM.ADMIN.COMMAND.QUEUE
set authrec -
        objtype(queue) -
        profile(SYSTEM.ADMIN.COMMAND.QUEUE) -
        group('__DEVROLE__') -
        authadd(inq, -
                put)

* Access to SYSTEM.DEFAULT.MODEL.QUEUE
set authrec -
        objtype(queue) -
        profile(SYSTEM.DEFAULT.MODEL.QUEUE) -
        group('__DEVROLE__') -
        authadd(browse, -
                get, -
                inq)

* Access to SYSTEM.MQEXPLORER.REPLY.MODEL
set authrec -
        objtype(queue) -
        profile(SYSTEM.MQEXPLORER.REPLY.MODEL) -
        group('__DEVROLE__') -
        authadd(browse, -
                dsp, -
                get, -
                inq)

* Access to all authinfo objects
set authrec -
	objtype(authinfo) -
	profile('**') -
	group('__DEVROLE__') -
	authrmv(all) -
	authadd(dsp, -
		inq)

* Access to all channel objects
set authrec -
	objtype(channel) -
	profile('**') -
	group('__DEVROLE__') -
	authrmv(all) -
	authadd(chg, -
		ctrl, -
		ctrlx, -
		dsp)

set authrec -
	objtype(channel) -
	profile('SYSTEM.**') -
	group('__DEVROLE__') -
	authrmv(all) -
	authadd(dsp)

* Access to all clntconn objects
set authrec -
	objtype(clntconn) -
	profile('**') -
	group('__DEVROLE__') -
	authrmv(all) -
	authadd(chg, -
		dsp)

set authrec -
	objtype(clntconn) -
	profile('SYSTEM.**') -
	group('__DEVROLE__') -
	authrmv(all) -
	authadd(dsp)

* Access to all comminfo objects
set authrec -
	objtype(comminfo) -
	profile('**') -
	group('__DEVROLE__') -
	authrmv(all) -
	authadd(dsp)

* Access to all listener objects
set authrec -
	objtype(listener) -
	profile('**') -
	group('__DEVROLE__') -
	authrmv(all) -
	authadd(dsp)

* Access to all namelist objects
set authrec -
	objtype(namelist) -
	profile('**') -
	group('__DEVROLE__') -
	authrmv(all) -
	authadd(chg, -
		crt, -
		dlt, -
		dsp, -
		inq)

set authrec -
	objtype(namelist) -
	profile('SYSTEM.**') -
	group('__DEVROLE__') -
	authrmv(all) -
	authadd(dsp, -
		inq)

* Access to all process objects
set authrec -
	objtype(process) -
	profile('**') -
	group('__DEVROLE__') -
	authrmv(all) -
	authadd(chg, -
		crt, -
		dlt, -
		dsp, -
		inq)

set authrec -
	objtype(process) -
	profile('SYSTEM.**') -
	group('__DEVROLE__') -
	authrmv(all) -
	authadd(dsp, -
		inq)

* Access to all queue objects
set authrec -
	objtype(queue) -
	profile('**') -
	group('__DEVROLE__') -
	authrmv(all) -
	authadd(browse, -
		chg, -
		clr, -
		crt, -
		dlt, -
		dsp, -
		get, -
		put, -
		inq)

set authrec -
	objtype(queue) -
	profile('SYSTEM.**') -
	group('__DEVROLE__') -
	authrmv(all) -
	authadd(browse, -
		dsp, -
		inq)

* Access to all service objects
set authrec -
	objtype(service) -
	profile('**') -
	group('__DEVROLE__') -
	authrmv(all) -
	authadd(dsp)

* Access to all topic objects
set authrec -
	objtype(topic) -
	profile('**') -
	group('__DEVROLE__') -
	authrmv(all) -
	authadd(chg, -
		clr, -
		ctrl, -
		dsp, -
		pub, -
		resume, -
		sub)

* ---------------------------------------------------
* Allow repo queue managers access to what they need
* Access to QMGR QMGRNAME
set authrec -
	objtype(qmgr) -
	principal('__MQREPOUSER__') -
	authrmv(all) -
	authadd(connect, -
		inq, -
		setall)

* Access to SYSTEM.CLUSTER.COMMAND.QUEUE
set authrec -
	objtype(queue) -
	profile('SYSTEM.CLUSTER.COMMAND.QUEUE') -
	principal('__MQREPOUSER__') -
	authrmv(all) -
	authadd(put, -
		setall)

* Access to SYSTEM.DEAD.LETTER.QUEUE
set authrec -
	objtype(queue) -
	profile('SYSTEM.DEAD.LETTER.QUEUE') -
	principal('__MQREPOUSER__') -
	authrmv(all) -
	authadd(put, -
		setall)

* ---------------------------------------------------
* Allow non-repo queue managers access to what they need
* On a apps qmgr, they just need access to the queue manager
* and dead letter queue
* Access to QMGR __QMGRNAME__ 
set authrec -
	objtype(qmgr) -
	principal('__MQCLUSUSER__') -
	authrmv(all) -
	authadd(connect, -
		inq, -
		setall)

* Access to SYSTEM.CLUSTER.COMMAND.QUEUE
set authrec -
	objtype(queue) -
	profile('SYSTEM.CLUSTER.COMMAND.QUEUE') -
	principal('__MQCLUSUSER__') -
	authrmv(all) -
	authadd(none)

* Access to SYSTEM.DEAD.LETTER.QUEUE
set authrec -
	objtype(queue) -
	profile('SYSTEM.DEAD.LETTER.QUEUE') -
	principal('__MQCLUSUSER__') -
	authrmv(all) -
	authadd(put, -
		setall)

* ---------------------------------------------------
* Create cluster receiver channel
* This has to be done after security controls are set
* in order to avoid errors
define chl(__CLUSNAME__.__QMGRNAME__) -
	chltype(clusrcvr) -
	trptype(tcp) -
	descr('App Queue Manager in cluster __CLUSNAME__') -
	conname('__QMGRHOST__(__QMPORT__)') -
	mcauser('mqnoaccess') -
	cluster('__CLUSNAME__') -
	npmspeed(normal) -
	replace

* ---------------------------------------------------
* Create cluster sender channel to FR
define chl(__CLUSNAME__.__REPOQM__) -
	chltype(clussdr) -
	trptype(tcp) -
	descr('Connect to repos for cluster CLUSNAME') -
	conname('__REPOHOST__(__REPOPORT__)') -
	cluster('__CLUSNAME__') -
	npmspeed(normal) -
	replace

* ---------------------------------------------------
* Define TOPIC root for MQ events
define topic(MQ.EVENTS) -
	topicstr('/system/admin/events') -
	npmsgdlv(allavail) -
	pmsgdlv(alldur) -
	pubscope(qmgr) -
	subscope(qmgr) -
	usedlq(no) -
	replace

* ---------------------------------------------------
* Define all TOPICs for MQ events
define topic(MQ.CHANNEL.EVENTS) topicstr('/system/admin/events/channel') replace
define topic(MQ.COMMAND.EVENTS) topicstr('/system/admin/events/command') replace
define topic(MQ.CONFIG.EVENTS) topicstr('/system/admin/events/config') replace
define topic(MQ.LOGGER.EVENTS) topicstr('/system/admin/events/logger') replace
define topic(MQ.PERFM.EVENTS) topicstr('/system/admin/events/perfm') replace
define topic(MQ.PUBSUB.EVENTS) topicstr('/system/admin/events/pubsub') replace
define topic(MQ.QMGR.EVENTS) topicstr('/system/admin/events/qmgr') replace

* ---------------------------------------------------
* Set up qmgr to publish all events
alter qmgr -
	authorev(enabled) -
	chlev(enabled) -
	cmdev(enabled) -
	configev(enabled) -
	inhibtev(enabled) -
	localev(enabled) -
	perfmev(enabled) -
	remoteev(enabled) -
	sslev(enabled) -
	strstpev(enabled)

* ---------------------------------------------------
* Set up qmgr trigger interval to 60 seconds
alter qmgr -
        trigint(60000)

* ---------------------------------------------------
* Refresh security to activate the new rules
refresh security(*) type(authserv)

