* runmqsc command file template
* csp_iib_app.template
* relies on csp_iib_apps.template.map

* ---------------------------------------------------

* ---------------------------------------------------
* Set Auth Records - Consumer Service Queues
* ---------------------------------------------------

set authrec -
 objtype(queue) -
 profile('CS.EDI.**') -
 principal('__IIBUSER__') -
 authrmv(all) -
 authadd(browse, get, inq, put, setall, setid, passall, passid, dsp)

set authrec -
 objtype(queue) -
 profile('CS.EDI.**') -
 principal('__CLUSUSER__') -
 authrmv(all) -
 authadd(put, inq, setall)

set authrec -
 objtype(queue) -
 profile('CS.MANAGE.CLAIM.**') -
 principal('__IIBUSER__') -
 authrmv(all) -
 authadd(browse, get, inq, put, setall, setid, passall, passid, dsp)

set authrec -
 objtype(queue) -
 profile('CS.MANAGE.CLAIM.**') -
 principal('__CLUSUSER__') -
 authrmv(all) -
 authadd(put, inq, setall)
 
set authrec -
 objtype(queue) -
 profile('CS.ROL.**') -
 principal('__IIBUSER__') -
 authrmv(all) -
 authadd(browse, get, inq, put, setall, setid, passall, passid, dsp)

set authrec -
 objtype(queue) -
 profile('CS.ROL.**') -
 principal('__CLUSUSER__') -
 authrmv(all) -
 authadd(put, inq, setall)

set authrec -
 objtype(queue) -
 profile('CS.COL.**') -
 principal('__IIBUSER__') -
 authrmv(all) -
 authadd(browse, get, inq, put, setall, setid, passall, passid, dsp)

set authrec -
 objtype(queue) -
 profile('CS.COL.**') -
 principal('__CLUSUSER__') -
 authrmv(all) -
 authadd(put, inq, setall)
 
set authrec -
 objtype(queue) -
 profile('CS.CABS.**') -
 principal('__IIBUSER__') -
 authrmv(all) -
 authadd(browse, get, inq, put, setall, setid, passall, passid, dsp)

set authrec -
 objtype(queue) -
 profile('CS.CABS.**') -
 principal('__CLUSUSER__') -
 authrmv(all) -
 authadd(put, inq, setall)

set authrec -
 objtype(queue) -
 profile('CS.POS.**') -
 principal('__IIBUSER__') -
 authrmv(all) -
 authadd(browse, get, inq, put, setall, setid, passall, passid, dsp)

set authrec -
 objtype(queue) -
 profile('CS.POS.**') -
 principal('__CLUSUSER__') -
 authrmv(all) -
 authadd(put, inq, setall)
 
* ---------------------------------------------------
* Set Auth Records - Entity Service Queues
* ---------------------------------------------------

set authrec -
 objtype(queue) -
 profile('ES.BATCH.**') -
 principal('__IIBUSER__') -
 authrmv(all) -
 authadd(browse, get, inq, put, setall, setid, passall, passid, dsp)
 
set authrec -
 objtype(queue) -
 profile('ES.BATCH.**') -
 principal('__CLUSUSER__') -
 authrmv(all) -
 authadd(put, inq, setall)
 
set authrec -
 objtype(queue) -
 profile('ES.STAGINGINVOICE.**') -
 principal('__IIBUSER__') -
 authrmv(all) -
 authadd(browse, get, inq, put, setall, setid, passall, passid, dsp)
 
set authrec -
 objtype(queue) -
 profile('ES.STAGINGINVOICE.**') -
 principal('__CLUSUSER__') -
 authrmv(all) -
 authadd(put, inq, setall)

set authrec -
 objtype(queue) -
 profile('ES.TAINVOICE.**') -
 principal('__IIBUSER__') -
 authrmv(all) -
 authadd(browse, get, inq, put, setall, setid, passall, passid, dsp)
 
set authrec -
 objtype(queue) -
 profile('ES.TAINVOICE.**') -
 principal('__CLUSUSER__') -
 authrmv(all) -
 authadd(put, inq, setall)
 
set authrec -
 objtype(queue) -
 profile('ES.STATUSREPORT.**') -
 principal('__IIBUSER__') -
 authrmv(all) -
 authadd(browse, get, inq, put, setall, setid, passall, passid, dsp)
 
set authrec -
 objtype(queue) -
 profile('ES.STATUSREPORT.**') -
 principal('__CLUSUSER__') -
 authrmv(all) -
 authadd(put, inq, setall)

set authrec -
 objtype(queue) -
 profile('ES.TRANSPORTACCIDENTCLAIM.**') -
 principal('__IIBUSER__') -
 authrmv(all) -
 authadd(browse, get, inq, put, setall, setid, passall, passid, dsp)

set authrec -
 objtype(queue) -
 profile('ES.TRANSPORTACCIDENTCLAIM.**') -
 principal('__CLUSUSER__') -
 authrmv(all) -
 authadd(put, inq, setall)

* ---------------------------------------------------
* Set Auth Records - Service Component Queues
* ---------------------------------------------------

set authrec -
 objtype(queue) -
 profile('SC.REPOSITORY.**') -
 principal('__IIBUSER__') -
 authrmv(all) -
 authadd(browse, get, inq, put, setall, setid, passall, passid, dsp)
 
set authrec -
 objtype(queue) -
 profile('SC.REPOSITORY.**') -
 principal('__CLUSUSER__') -
 authrmv(all) -
 authadd(put, inq, setall)
 
set authrec -
 objtype(queue) -
 profile('SC.AVANTI.TAINVOICE.**') -
 principal('__IIBUSER__') -
 authrmv(all) -
 authadd(browse, get, inq, put, setall, setid, passall, passid, dsp)

set authrec -
 objtype(queue) -
 profile('SC.AVANTI.TAINVOICE.**') -
 principal('__CLUSUSER__') -
 authrmv(all) -
 authadd(put, inq, setall)

set authrec -
 objtype(queue) -
 profile('SC.AVANTI.**') -
 principal('__IIBUSER__') -
 authrmv(all) -
 authadd(browse, get, inq, put, setall, setid, passall, passid, dsp)

set authrec -
 objtype(queue) -
 profile('SC.AVANTI.**') -
 principal('__CLUSUSER__') -
 authrmv(all) -
 authadd(put, inq, setall)

* ---------------------------------------------------
* Define Queues - CS_EDI
* ---------------------------------------------------

define ql('CS.EDI.RESP.V1') -
 descr('Response queue for CS_EDI') -
 replace

* ---------------------------------------------------
* Define Queues - CS_SAS_ClaimManagement
* ---------------------------------------------------

define ql('CS.MANAGE.CLAIM.RESP.V1') -
 descr('Response queue for CS_SAS_ClaimManagement') -
 replace

* ---------------------------------------------------
* Define Queues - CS_ROL
* ---------------------------------------------------

define ql('CS.ROL.RESP.V1') -
 descr('Response queue for CS_ROL') -
 replace

* ---------------------------------------------------
* Define Queues - CS_COL
* ---------------------------------------------------

define ql('CS.COL.RESP.V1') -
 descr('Response queue for CS_COL') -
 replace

* ---------------------------------------------------
* Define Queues - CS_Cabs
* ---------------------------------------------------

define ql('CS.CABS.RESP.V1') -
 descr('Response queue for CS_Cabs') -
 replace

* ---------------------------------------------------
* Define Queues - CS_POS
* ---------------------------------------------------

define ql('CS.POS.RESP.V1') -
 descr('Response queue for CS_POS') -
 replace
 
* ---------------------------------------------------
* Define Queues - ES_Batch
* ---------------------------------------------------

define ql('ES.BATCH.BOQ.V1') -
 descr('Backout queue for ES_Batch') -
 replace
 
define ql('ES.BATCH.REQ.V1') -
 descr('Request queue for ES_Batch') -
 cluster(__CLUSNAME__) -
 clwlprty(__QPRIORITY__) -
 boqname('ES.BATCH.BOQ.V1') -
 bothresh(1) -
 replace
 
define ql('ES.BATCH.RESP.V1') -
 maxmsgl(10485760) -
 descr('Response queue for ES_Batch') -
 replace
 
* ---------------------------------------------------
* Define Queues - ES_StagingInvoice
* ---------------------------------------------------

define ql('ES.STAGINGINVOICE.BOQ.V1') -
 descr('Backout queue for ES_StagingInvoice') -
 replace
 
define ql('ES.STAGINGINVOICE.REQ.V1') -
 descr('Request queue for ES_StagingInvoice') -
 cluster(__CLUSNAME__) -
 clwlprty(__QPRIORITY__) -
 boqname('ES.STAGINGINVOICE.BOQ.V1') -
 bothresh(1) -
 replace
 
define ql('ES.STAGINGINVOICE.RESP.V1') -
 descr('Response queue for ES_StagingInvoice') -
 replace
 
* ---------------------------------------------------
* Define Queues - ES_TransportAccidentInvoice
* ---------------------------------------------------

define ql('ES.TAINVOICE.RESP.V1') -
 descr('Replies to ES_TransportAccidentInvoice') -
 replace

* ---------------------------------------------------
* Define Queues - ES_StatusReport
* ---------------------------------------------------

define ql('ES.STATUSREPORT.BOQ.V1') -
 descr('Backout queue for ES_StatusReport') -
 replace

define ql('ES.STATUSREPORT.REQ.V1') -
 descr('Request queue for ES_StatusReport') -
 cluster(__CLUSNAME__) -
 clwlprty(__QPRIORITY__) -
 boqname('ES.STATUSREPORT.BOQ.V1') -
 replace
 
define ql('ES.STATUSREPORT.RESP.V1') -
 maxmsgl(10485760) -
 descr('Response queue for ES_StatusReport') -
 replace

* ---------------------------------------------------
* Define Queues - ES_TransportAccidentClaim
* ---------------------------------------------------

define ql('ES.TRANSPORTACCIDENTCLAIM.BOQ.V1') -
 descr('Backout queue for ES_TransportAccidentClaim') -
 replace

define ql('ES.TRANSPORTACCIDENTCLAIM.REQ.V2') -
 descr('Request queue for ES_TransportAccidentClaim') -
 cluster(__CLUSNAME__) -
 clwlprty(__QPRIORITY__) -
 boqname('ES.TRANSPORTACCIDENTCLAIM.BOQ.V1') -
 replace

define ql('ES.TRANSPORTACCIDENTCLAIM.RESP.V2') -
 descr('Response queue for ES_TransportAccidentClaim') -
 replace


* ---------------------------------------------------
* Define Queues - SC_Repository
* ---------------------------------------------------

define ql('SC.REPOSITORY.BOQ.V1') -
 descr('Backout queue for SC_Repository') -
 replace
  
define ql('SC.REPOSITORY.REQ.V1') -
 descr('Request queue for SC_Repository') -
 cluster(__CLUSNAME__) -
 clwlprty(__QPRIORITY__) -
 boqname('SC.REPOSITORY.BOQ.V1') -
 bothresh(1) -
 replace
 

* ---------------------------------------------------
* Define Queues - SC_AvantiInvoice
* ---------------------------------------------------

define ql('SC.AVANTI.TAINVOICE.BOQ.V1') -
 descr('Backout queue for SC_AvantiInvoice') -
 replace
 
define ql('SC.AVANTI.TAINVOICE.REQ.V1') -
 descr('Request queue for SC_AvantiInvoice') -
 cluster(__CLUSNAME__) -
 clwlprty(__QPRIORITY__) -
 boqname('SC.AVANTI.TAINVOICE.BOQ.V1') -
 bothresh(1) -
 replace

* ---------------------------------------------------
* Define Queues - SC_Avanti
* ---------------------------------------------------
 
define ql('SC.AVANTI.BOQ.V1') -
 descr('Backout queue for SC_Avanti') -
 replace

define ql('SC.AVANTI.REQ.V2') -
 descr('Request queue for SC_Avanti') -
 cluster(__CLUSNAME__) -
 clwlprty(__QPRIORITY__) -
 boqname('SC.AVANTI.BOQ.V1') -
 bothresh(1) -
 replace


* ---------------------------------------------------
* Refresh security to activate the new rules
refresh security(*) type(authserv)
