* runmqsc command file template
* edrms_iib_app.template
* relies on edrms_iib_apps.template.map

* ---------------------------------------------------
* Set Auth Records - Entity Service Queues
* ---------------------------------------------------


set authrec -
	objtype(queue) -
	profile('ES.PUBLISHELECTRONICDOCUMENT.**') -
	principal('__CLUSUSER__') -
	authrmv(all) -
	authadd(put, inq, setall)

set authrec -
	objtype(queue) -
	profile('ES.PUBLISHELECTRONICDOCUMENT.**') -
	principal('__IIBUSER__') -
	authrmv(all) -
	authadd(browse, get, inq, put, setall, setid, passall, passid, dsp)

set authrec -
	objtype(queue) -
	profile('ES.ELECTRONICDOCUMENTMANAGEMENT.**') -
	principal('__CLUSUSER__') -
	authrmv(all) -
	authadd(put, inq, setall)

set authrec -
	objtype(queue) -
	profile('ES.ELECTRONICDOCUMENTMANAGEMENT.**') -
	principal('__IIBUSER__') -
	authrmv(all) -
	authadd(browse, get, inq, put, setall, setid, passall, passid, dsp)

set authrec -
	objtype(queue) -
	profile('ES.PUBLISHCLAIMUPDATE.**') -
	principal('__CLUSUSER__') -
	authrmv(all) -
	authadd(put, inq, setall)

set authrec -
	objtype(queue) -
	profile('ES.PUBLISHCLAIMUPDATE.**') -
	principal('__IIBUSER__') -
	authrmv(all) -
	authadd(browse, get, inq, put, setall, setid, passall, passid, dsp)


* ---------------------------------------------------
* Set Auth Records - Service Component Queues
* ---------------------------------------------------


set authrec -
	objtype(queue) -
	profile('SC.EDRMS.**') -
	principal('__CLUSUSER__') -
	authrmv(all) -
	authadd(put, inq, setall)

set authrec -
	objtype(queue) -
	profile('SC.EDRMS.**') -
	principal('__IIBUSER__') -
	authrmv(all) -
	authadd(browse, get, inq, put, setall, setid, passall, passid, dsp)

set authrec -
	objtype(queue) -
	profile('SC.NOVUS.**') -
	principal('__CLUSUSER__') -
	authrmv(all) -
	authadd(put, inq, setall)

set authrec -
	objtype(queue) -
	profile('SC.NOVUS.**') -
	principal('__IIBUSER__') -
	authrmv(all) -
	authadd(browse, get, inq, put, setall, setid, passall, passid, dsp)

set authrec -
	objtype(queue) -
	profile('SC.FILENET.**') -
	principal('__CLUSUSER__') -
	authrmv(all) -
	authadd(put, inq, setall)

set authrec -
	objtype(queue) -
	profile('SC.FILENET.**') -
	principal('__IIBUSER__') -
	authrmv(all) -
	authadd(browse, get, inq, put, setall, setid, passall, passid, dsp)
	
set authrec -
	objtype(queue) -
	profile('SC.EMS.**') -
	principal('__IIBUSER__') -
	authrmv(all) -
	authadd(browse, get, inq, put, setall, setid, passall, passid, dsp)


* ---------------------------------------------------
* Set Auth Records - IOP Consumer Service Queues
* ---------------------------------------------------
set authrec -
	objtype(queue) -
	profile('CS.IOP.**') -
	principal('__IIBUSER__') -
	authrmv(all) -
	authadd(inq, put, setall, setid, passall, passid, dsp)


* ---------------------------------------------------
* Define Queues - ES_ElectronicDocumentManagement
* ---------------------------------------------------

define ql('ES.ELECTRONICDOCUMENTMANAGEMENT.BOQ.V1') -
	descr('Backout Queue for ES_ElectronicDocumentManagement') -
	replace
	
define ql('ES.ELECTRONICDOCUMENTMANAGEMENT.REQ.V1') -
	descr('Request Queue for ES_ElectronicDocumentManagement') -
	cluster(__CLUSNAME__) -
	clwlprty(__QPRIORITY__) -
	boqname('ES.ELECTRONICDOCUMENTMANAGEMENT.BOQ.V1') -
	bothresh(3) -
	replace
	
define ql('ES.ELECTRONICDOCUMENTMANAGEMENT.RESP.V1') -
	descr('Replies to ES_ElectronicDocumentManagement') -
	replace

	
* ---------------------------------------------------
* Define Queues - ES_PublishElectronicDocument
* ---------------------------------------------------

define ql('ES.PUBLISHELECTRONICDOCUMENT.BOQ.V1') -
	descr('Backout Queue for ES_PublishElectronicDocument') -
	replace
	
define ql('ES.PUBLISHELECTRONICDOCUMENT.REQ.V1') -
	descr('Request Queue for ES_PublishElectronicDocument') -
	cluster(__CLUSNAME__) -
	clwlprty(__QPRIORITY__) -
	boqname('ES.PUBLISHELECTRONICDOCUMENT.BOQ.V1') -
	bothresh(3) -
	replace
	
define ql('ES.PUBLISHELECTRONICDOCUMENT.RESP.V1') -
	descr('Replies to ES_PublishElectronicDocument') -
	replace

define qa('CS.IOP.CREATE.CLAIM.REQ.V1') -
	descr('create claim request IOP via gateway') -
	targtype(queue) -
	target('CS.IOP.CREATE.CLAIM.REQ.V1') -
	replace

define qa('CS.IOP.REGISTER.COC.REQ.V1') -
	descr('create claim request IOP via gateway') -
	targtype(queue) -
	target('CS.IOP.REGISTER.COC.REQ.V1') -
	replace

define qa('CS.IOP.CASE.MGT.REQ.V1') -
	descr('create notify document request IOP via gateway') -
	targtype(queue) -
	target('CS.IOP.CASE.MGT.REQ.V1') -
	replace  

define qa('CS.IOP.DOCNOTIFY.REQ.V1') -
	descr('create notify document request IOP via gateway') -
	targtype(queue) -
	target('CS.IOP.DOCNOTIFY.REQ.V1') -
	replace  

define qa('CS.IOP.DOCNOTIFY.CLAIM.REQ.V1') -
	descr('create notify claim document request IOP via gateway') -
	targtype(queue) -
	target('CS.IOP.DOCNOTIFY.CLAIM.REQ.V1') -
	replace  

define qa('CS.IOP.DOCNOTIFY.COC.REQ.V1') -
	descr('create notify coc document request IOP via gateway') -
	targtype(queue) -
	target('CS.IOP.DOCNOTIFY.COC.REQ.V1') -
	replace  

define qa('CS.IOP.DOCNOTIFY.INVOICE.REQ.V1') -
	descr('create notify claim invoice document request IOP via gateway') -
	targtype(queue) -
	target('CS.IOP.DOCNOTIFY.INVOICE.REQ.V1') -
	replace  

* ---------------------------------------------------
* Define Queues - ES_PublishClaimUpdate
* ---------------------------------------------------

define ql('ES.PUBLISHCLAIMUPDATE.BOQ.V1') -
	descr('Backout Queue for ES_PublishClaimUpdate') -
	replace
	
define ql('ES.PUBLISHCLAIMUPDATE.REQ.V1') -
	descr('Request Queue for ES_PublishClaimUpdate') -
	cluster(__CLUSNAME__) -
	clwlprty(__QPRIORITY__) -
	boqname('ES.PUBLISHCLAIMUPDATE.BOQ.V1') -
	bothresh(3) -
	replace
	
define ql('ES.PUBLISHCLAIMUPDATE.REPLAY.BOQ.V1') -
	descr('Backout Queue for ES_PublishClaimUpdate Replay') -
	replace
	
define ql('ES.PUBLISHCLAIMUPDATE.REPLAY.REQ.V1') -
	descr('Request Queue for ES_PublishClaimUpdate Replay') -
	cluster(__CLUSNAME__) -
	clwlprty(__QPRIORITY__) -
	boqname('ES.PUBLISHCLAIMUPDATE.REPLAY.BOQ.V1') -
	bothresh(3) -
	replace

define ql('ES.PUBLISHCLAIMUPDATE.RESP.V1') -
	descr('Replies to ES_PublishClaimUpdate') -
	replace

	
* ---------------------------------------------------
* Define Queues - SC_EDRMS_StoreEvent
* ---------------------------------------------------

define ql('SC.EDRMS.BOQ.V1') -
	descr('Backout Queue for SC_EDRMS') -
	replace
	
define ql('SC.EDRMS.REQ.V1') -
	descr('Request Queue for SC_EDRMS') -
	cluster(__CLUSNAME__) -
	clwlprty(__QPRIORITY__) -
	boqname('SC.EDRMS.BOQ.V1') -
	bothresh(3) -
	replace
	
define ql('SC.EDRMS.EX.V1') -
	descr('Exception for one-way calls to SC_EDRMS') -
	replace
	

* ---------------------------------------------------
* Define Queues - SC_FileNet
* ---------------------------------------------------

define ql('SC.FILENET.BOQ.V1') -
	descr('Backout Queue for SC_FileNet') -
	replace
	
define ql('SC.FILENET.REQ.V1') -
	descr('Request Queue for SC_FileNet') -
	cluster(__CLUSNAME__) -
	clwlprty(__QPRIORITY__) -
	boqname('SC.FILENET.BOQ.V1') -
	bothresh(3) -
	replace
	
define ql('SC.FILENET.EX.V1') -
	descr('Exception for one-way calls to SC_FileNet') -
	replace


* ---------------------------------------------------
* Define Queues - SC_NovusBatch
* ---------------------------------------------------

define ql('SC.NOVUS.BATCH.BOQ.V1') -
	descr('Backout Queue for SC_NovusBatch') -
	replace
	
define ql('SC.NOVUS.BATCH.REQ.V1') -
	descr('Request Queue for SC_NovusBatch') -
	cluster(__CLUSNAME__) -
	clwlprty(__QPRIORITY__) -
	boqname('SC.NOVUS.BATCH.BOQ.V1') -
	bothresh(3) -
	replace
	
define ql('SC.NOVUS.BATCH.EX.V1') -
	descr('Exception for one-way calls to SC_NovusBatch') -
	replace


* ---------------------------------------------------
* Define Queues - SC_EDRMSBatch
* ---------------------------------------------------

define ql('SC.EDRMS.BATCH.RESP.V1') -
	descr('Replies to SC_EDRMSBatch') -
	replace
	
define ql('SC.EDRMS.BATCH.EX.V1') -
	descr('Exception for one-way calls to SC_EDRMSBatch') -
	replace

define ql('SC.EDRMS.PREMIUM.BATCH.RESP.V1') -
	descr('Replies to SC_EDRMSBatch') -
	replace
	
define ql('SC.EDRMS.PREMIUM.BATCH.EX.V1') -
	descr('Exception for one-way calls to SC_EDRMSBatch') -
	replace


* ---------------------------------------------------
* Define Queues - SC_EMS
* ---------------------------------------------------

define ql('SC.EMS.BATCH.REQ.V1') -
	descr('Replies to SC_EDRMSBatch') -
	replace
	
define ql('SC.EMS.BATCH.EX.V1') -
	descr('Exception for one-way calls to SC_EMSBatch') -
	replace

* ---------------------------------------------------
* Refresh security to activate the new rules
refresh security(*) type(authserv)
