* runmqsc command file template
* els_iib_app.template
* relies on extracts_iib_apps.template.map

* ---------------------------------------------------
* Set Auth Records - Service Component Queues
* ---------------------------------------------------

set authrec -
	objtype(queue) -
	profile('SC.AURION.EXTRACT.**') -
	principal('__CLUSUSER__') -
	authrmv(all) -
	authadd(put, inq, setall)

set authrec -
	objtype(queue) -
	profile('SC.AURION.EXTRACT.**') -
	principal('__IIBUSER__') -
	authrmv(all) -
	authadd(browse, get, inq, put, setall, setid, passall, passid, dsp)


* ---------------------------------------------------
* Define Queues - SC_AurionExtract
* ---------------------------------------------------

define ql('SC.AURION.EXTRACT.BOQ.V1') -
	descr('Backout Queue for SC_AurionExtract') -
	replace
	
define ql('SC.AURION.EXTRACT.REQ.V1') -
	descr('Request Queue for SC_AurionExtract') -
	cluster(__CLUSNAME__) -
	clwlprty(__QPRIORITY__) -
	boqname('SC.AURION.EXTRACT.BOQ.V1') -
	bothresh(1) -
	replace
	
define ql('SC.AURION.EXTRACT.EX.V1') -
	descr('Exception for one-way calls to SC_AurionExtract') -
	replace


* ---------------------------------------------------
* Refresh security to activate the new rules
refresh security(*) type(authserv)
