* runmqsc command file template
* iib.template
* relies on iib.template.map

* ---------------------------------------------------
* Set up security controls for access to IIB

* Allow admin access by service account IIBUSER
* Access to qmgr
set authrec -
	objtype(qmgr) -
	principal('__IIBUSER__') -
	authrmv(all) -
	authadd(chg, -
		connect, -
		crt, -
		dlt, -
		dsp, -
		inq, -
		set, -
		setall, -
		setid, -
		system)

* Access to all authinfo objects
set authrec -
	objtype(authinfo) -
	profile('**') -
	principal('__IIBUSER__') -
	authrmv(all) -
	authadd(alladm)

* Access to all channel objects
set authrec -
	objtype(channel) -
	profile('**') -
	principal('__IIBUSER__') -
	authrmv(all) -
	authadd(alladm)

* Access to all clntconn objects
set authrec -
	objtype(clntconn) -
	profile('**') -
	principal('__IIBUSER__') -
	authrmv(all) -
	authadd(alladm)

* Access to all comminfo objects
set authrec -
	objtype(comminfo) -
	profile('**') -
	principal('__IIBUSER__') -
	authrmv(all) -
	authadd(alladm)

* Access to all listener objects
set authrec -
	objtype(listener) -
	profile('**') -
	principal('__IIBUSER__') -
	authrmv(all) -
	authadd(alladm)

* Access to all namelist objects
set authrec -
	objtype(namelist) -
	profile('**') -
	principal('__IIBUSER__') -
	authrmv(all) -
	authadd(alladm)

* Access to all process objects
set authrec -
	objtype(process) -
	profile('**') -
	principal('__IIBUSER__') -
	authrmv(all) -
	authadd(alladm)

* Access to all queue objects
set authrec -
	objtype(queue) -
	profile('**') -
	principal('__IIBUSER__') -
	authrmv(all) -
	authadd(alladm, -
		allmqi)

* Access to all rqmname objects
set authrec -
	objtype(rqmname) -
	profile('**') -
	principal('__IIBUSER__') -
	authrmv(all) -
	authadd(alladm)

* Access to all service objects
set authrec -
	objtype(service) -
	profile('**') -
	principal('__IIBUSER__') -
	authrmv(all) -
	authadd(alladm)

* Access to all topic objects
set authrec -
	objtype(topic) -
	profile('**') -
	principal('__IIBUSER__') -
	authrmv(all) -
	authadd(alladm, -
		allmqi)

* ---------------------------------------------------
* Refresh security to activate the new rules
refresh security(*) type(authserv)

* ---------------------------------------------------
* Create IIB objects for the broker.
* These statements are taken from 
*   /opt/<env>/iib/server/sample/wmq/iib_queues_create.mqsc

* Increase the maximum message size
ALTER QMGR MAXMSGL(104857600)


* ---------------------------------------------------
* Set up queue manager to keep cluster messages local
* ---------------------------------------------------

alter qmgr clwluseq(local)

* This step might fail on MQ 7.0.1
* Removed as it screws up MQ security
* ALTER QMGR CHLAUTH(DISABLED)

* ====================================================================
* Need to revisit authentication for this channel
* ====================================================================
* Might get replaced with one or more svrconn channels with SSL enabled
* DEFINE CHANNEL('SYSTEM.BKR.CONFIG') CHLTYPE(SVRCONN) TRPTYPE(TCP) MAXMSGL(104857600) mcauser('__IIBUSER__') replace

* EDA queues (Timeout, Collection, Aggregation, Sequence)
DEFINE QLOCAL('SYSTEM.BROKER.TIMEOUT.QUEUE') DEFPSIST(NO) MAXDEPTH(100000) MAXMSGL(104857600) replace
DEFINE QLOCAL('SYSTEM.BROKER.AGGR.REQUEST') DEFPSIST(NO) MAXDEPTH(100000) MAXMSGL(104857600) replace
DEFINE QLOCAL('SYSTEM.BROKER.AGGR.CONTROL') DEFPSIST(NO) MAXDEPTH(100000) MAXMSGL(104857600) replace
DEFINE QLOCAL('SYSTEM.BROKER.AGGR.REPLY') DEFPSIST(NO) MAXDEPTH(100000) MAXMSGL(104857600) replace
DEFINE QLOCAL('SYSTEM.BROKER.AGGR.TIMEOUT') DEFPSIST(NO) MAXDEPTH(100000) MAXMSGL(104857600) replace
DEFINE QLOCAL('SYSTEM.BROKER.AGGR.UNKNOWN') DEFPSIST(NO) MAXDEPTH(100000) MAXMSGL(104857600) replace
DEFINE QLOCAL('SYSTEM.BROKER.SEQ.GROUP') DEFPSIST(NO) MAXDEPTH(100000) MAXMSGL(104857600) replace
DEFINE QLOCAL('SYSTEM.BROKER.SEQ.NUMBER') DEFPSIST(NO) MAXDEPTH(100000) MAXMSGL(104857600) replace
DEFINE QLOCAL('SYSTEM.BROKER.SEQ.EXPIRY') DEFPSIST(NO) MAXDEPTH(100000) MAXMSGL(104857600) replace
DEFINE QLOCAL('SYSTEM.BROKER.EDA.COLLECTIONS') DEFPSIST(NO) MAXDEPTH(100000) MAXMSGL(104857600) replace
DEFINE QLOCAL('SYSTEM.BROKER.EDA.EVENTS') DEFPSIST(NO) MAXDEPTH(100000) MAXMSGL(104857600) replace

* HTTP Listener queues
DEFINE QLOCAL('SYSTEM.BROKER.WS.INPUT') DEFPSIST(NO) MAXMSGL(104857600) replace
DEFINE QLOCAL('SYSTEM.BROKER.WS.REPLY') DEFPSIST(NO) MAXMSGL(104857600) replace
DEFINE QLOCAL('SYSTEM.BROKER.WS.ACK') DEFPSIST(NO) MAXMSGL(104857600) replace

* Pub-sub topic root
DEFINE TOPIC ('SYSTEM.BROKER.MB.TOPIC') TOPICSTR('$SYS/Broker') replace

* SAP Request Node transaction state queue
DEFINE QLOCAL('SYSTEM.BROKER.ADAPTER.PROCESSED') DEFPSIST(YES) MAXDEPTH(100000) MAXMSGL(104857600) replace

* Model queues
DEFINE QMODEL('SYSTEM.BROKER.MODEL.QUEUE') SHARE GET(ENABLED) PUT(ENABLED) DEFTYPE(TEMPDYN) DEFPSIST(NO) MAXMSGL(104857600) replace
DEFINE QMODEL('SYSTEM.BROKER.CD.MODEL') SHARE DEFTYPE(PERMDYN) DEFPSIST(YES) DEFSOPT(SHARED) MAXDEPTH(10000) MAXMSGL(104857600) replace
DEFINE QMODEL('SYSTEM.BROKER.FTE.MODEL') SHARE DEFTYPE(PERMDYN) DEFPSIST(YES) DEFSOPT(SHARED) MAXDEPTH(10000) MAXMSGL(104857600) replace

* Record-Replay Queues
DEFINE QLOCAL('SYSTEM.BROKER.DC.RECORD') DEFPSIST(YES)  MAXDEPTH(100000) MAXMSGL(104857600) replace
DEFINE QLOCAL('SYSTEM.BROKER.DC.BACKOUT') DEFPSIST(YES)  MAXDEPTH(100000) MAXMSGL(104857600) replace
DEFINE QLOCAL('SYSTEM.BROKER.DC.AUTH') DEFPSIST(YES)  MAXDEPTH(100000) MAXMSGL(104857600) replace

* Security Queue
DEFINE QLOCAL('SYSTEM.BROKER.AUTH') DEFPSIST(YES) MAXMSGL(104857600) replace


* Set MQ authorities on queues
set authrec -
        objtype(qmgr) -
        principal('__IIBUSER__') -
        authadd( -
                altusr, -
                connect, -
                inq, -
                setall, -
                chg, -
                dsp, -
                system -
        )

* EDA Nodes
set authrec -
        profile('SYSTEM.BROKER.TIMEOUT.QUEUE') -
        objtype(queue) -
        principal('__IIBUSER__') -
        authadd( -
                browse, -
                get, -
                inq, -
                put, -
                set, -
                setall, -
                passall, -
                passid, -
                chg, -
                dsp -
        )
set authrec -
        profile('SYSTEM.BROKER.AGGR.REQUEST') -
        objtype(queue) -
        principal('__IIBUSER__') -
        authadd( -
                browse, -
                get, -
                inq, -
                put, -
                set, -
                setall, -
                passall, -
                passid, -
                chg, -
                dsp -
        )
set authrec -
        profile('SYSTEM.BROKER.AGGR.CONTROL') -
        objtype(queue) -
        principal('__IIBUSER__') -
        authadd( -
                browse, -
                get, -
                inq, -
                put, -
                set, -
                setall, -
                passall, -
                passid, -
                chg, -
                dsp -
        )
set authrec -
        profile('SYSTEM.BROKER.AGGR.REPLY') -
        objtype(queue) -
        principal('__IIBUSER__') -
        authadd( -
                browse, -
                get, -
                inq, -
                put, -
                set, -
                setall, -
                passall, -
                passid, -
                chg, -
                dsp -
        )
set authrec -
        profile('SYSTEM.BROKER.AGGR.TIMEOUT') -
        objtype(queue) -
        principal('__IIBUSER__') -
        authadd( -
                browse, -
                get, -
                inq, -
                put, -
                set, -
                setall, -
                passall, -
                passid, -
                chg, -
                dsp -
        )
set authrec -
        profile('SYSTEM.BROKER.AGGR.UNKNOWN') -
        objtype(queue) -
        principal('__IIBUSER__') -
        authadd( -
                browse, -
                get, -
                inq, -
                put, -
                set, -
                setall, -
                passall, -
                passid, -
                chg, -
                dsp -
        )
set authrec -
        profile('SYSTEM.BROKER.EDA.COLLECTIONS') -
        objtype(queue) -
        principal('__IIBUSER__') -
        authadd( -
                browse, -
                get, -
                inq, -
                put, -
                set, -
                setall, -
                passall, -
                passid, -
                chg, -
                dsp -
        )
set authrec -
        profile('SYSTEM.BROKER.EDA.EVENTS') -
        objtype(queue) -
        principal('__IIBUSER__') -
        authadd( -
                browse, -
                get, -
                inq, -
                put, -
                set, -
                setall, -
                passall, -
                passid, -
                chg, -
                dsp -
        )
set authrec -
        profile('SYSTEM.BROKER.SEQ.GROUP') -
        objtype(queue) -
        principal('__IIBUSER__') -
        authadd( -
                browse, -
                get, -
                inq, -
                put, -
                set, -
                setall, -
                passall, -
                passid, -
                chg, -
                dsp -
        )
set authrec -
        profile('SYSTEM.BROKER.SEQ.NUMBER') -
        objtype(queue) -
        principal('__IIBUSER__') -
        authadd( -
                browse, -
                get, -
                inq, -
                put, -
                set, -
                setall, -
                passall, -
                passid, -
                chg, -
                dsp -
        )
set authrec -
        profile('SYSTEM.BROKER.SEQ.EXPIRY') -
        objtype(queue) -
        principal('__IIBUSER__') -
        authadd( -
                browse, -
                get, -
                inq, -
                put, -
                set, -
                setall, -
                passall, -
                passid, -
                chg, -
                dsp -
        )

* HTTP Listener
set authrec -
        profile('SYSTEM.BROKER.WS.INPUT') -
        objtype(queue) -
        principal('__IIBUSER__') -
        authadd( -
                browse, -
                get, -
                inq, -
                put, -
                set, -
                setall, -
                passall, -
                passid, -
                chg, -
                dsp -
        )
set authrec -
        profile('SYSTEM.BROKER.WS.REPLY') -
        objtype(queue) -
        principal('__IIBUSER__') -
        authadd( -
                browse, -
                get, -
                inq, -
                put, -
                set, -
                setall, -
                passall, -
                passid, -
                chg, -
                dsp -
        )
set authrec -
        profile('SYSTEM.BROKER.WS.ACK') -
        objtype(queue) -
        principal('__IIBUSER__') -
        authadd( -
                browse, -
                get, -
                inq, -
                put, -
                set, -
                setall, -
                passall, -
                passid, -
                chg, -
                dsp -
        )

* SAP Adapter persistence
set authrec -
        profile('SYSTEM.BROKER.ADAPTER.PROCESSED') -
        objtype(queue) -
        principal('__IIBUSER__') -
        authadd( -
                browse, -
                get, -
                inq, -
                put, -
                set, -
                setall, -
                passall, -
                passid, -
                chg, -
                dsp -
        )

* Pub-sub
set authrec -
        profile('SYSTEM.BROKER.MB.TOPIC') -
        objtype(topic) -
        principal('__IIBUSER__') -
        authadd( -
                pub, -
                sub -
        )

* Data-capture (Record-replay)
set authrec -
        profile('SYSTEM.BROKER.DC.RECORD') -
        objtype(queue) -
        principal('__IIBUSER__') -
        authadd( -
                browse, -
                get, -
                inq, -
                put, -
                set, -
                setall, -
                passall, -
                passid, -
                chg, -
                dsp -
        )
set authrec -
        profile('SYSTEM.BROKER.DC.BACKOUT') -
        objtype(queue) -
        principal('__IIBUSER__') -
        authadd( -
                browse, -
                get, -
                inq, -
                put, -
                set, -
                setall, -
                passall, -
                passid, -
                chg, -
                dsp -
        )
set authrec -
        profile('SYSTEM.BROKER.DC.AUTH') -
        objtype(queue) -
        principal('__IIBUSER__') -
        authadd( -
                browse, -
                get, -
                inq, -
                put, -
                set, -
                setall, -
                passall, -
                passid, -
                chg, -
                dsp -
        )

* Other existing queues need updated permissions
set authrec -
        profile('SYSTEM.ADMIN.COMMAND.QUEUE') -
        objtype(queue) -
        principal('__IIBUSER__') -
        authadd( -
                browse, -
                get, -
                inq, -
                put, -
                set, -
                setall, -
                passall, -
                passid, -
                chg, -
                dsp -
        )
set authrec -
        profile('SYSTEM.DEFAULT.MODEL.QUEUE') -
        objtype(queue) -
        principal('__IIBUSER__') -
        authadd( -
                browse, -
                get, -
                inq, -
                put, -
                set, -
                setall, -
                passall, -
                passid, -
                chg, -
                dsp -
        )
set authrec -
        profile('SYSTEM.SELECTION.EVALUATION.QUEUE') -
        objtype(queue) -
        principal('__IIBUSER__') -
        authadd( -
                browse, -
                get, -
                inq, -
                put, -
                set, -
                setall, -
                passall, -
                passid, -
                chg, -
                dsp -
        )
set authrec -
        profile('SYSTEM.SELECTION.VALIDATION.QUEUE') -
        objtype(queue) -
        principal('__IIBUSER__') -
        authadd( -
                browse, -
                get, -
                inq, -
                put, -
                set, -
                setall, -
                passall, -
                passid, -
                chg, -
                dsp -
        )
set authrec -
        profile('SYSTEM.INTERNAL.REPLY.QUEUE') -
        objtype(queue) -
        principal('__IIBUSER__') -
        authadd( -
                browse, -
                get, -
                inq, -
                put, -
                set, -
                setall, -
                passall, -
                passid, -
                chg, -
                dsp -
        )



* THIS SHOULD WORK, BUT DOES NOT (PMR...)
* set authrec -
* objtype(queue) -
* profile('NOVUS.**') -
* principal('__MQCLUSUSER__') -
* authrmv(all) -
* authadd(put, setall, get, browse, dsp)




