* runmqsc command file template
* lms_iib_app.template
* relies on lms_iib_apps.template.map

* ---------------------------------------------------


 
* ---------------------------------------------------
* Set Auth Records - Entity Service Queues
* ---------------------------------------------------

set authrec -
 objtype(queue) -
 profile('ES.AURION.**') -
 principal('__IIBUSER__') -
 authrmv(all) -
 authadd(browse, get, inq, put, setall, setid, passall, passid, dsp)
 
set authrec -
 objtype(queue) -    
 profile('ES.AURION.**') -
 principal('__CLUSUSER__') -
 authrmv(all) -
 authadd(put, inq, setall)
 

* ---------------------------------------------------
* Set Auth Records - Service Component Queues
* ---------------------------------------------------

set authrec -
 objtype(queue) -
 profile('SC.AURIONEIP.**') -
 principal('__IIBUSER__') -
 authrmv(all) -
 authadd(browse, get, inq, put, setall, setid, passall, passid, dsp)
 
set authrec -
 objtype(queue) -
 profile('SC.AURIONEIP.**') -
 principal('__CLUSUSER__') -
 authrmv(all) -
 authadd(put, inq, setall)
 
set authrec -
 objtype(queue) -
 profile('SC.AURION.**') -
 principal('__IIBUSER__') -
 authrmv(all) -
 authadd(browse, get, inq, put, setall, setid, passall, passid, dsp)
 
set authrec -
 objtype(queue) -
 profile('SC.AURION.**') -
 principal('__CLUSUSER__') -
 authrmv(all) -
 authadd(put, inq, setall)
 


* ---------------------------------------------------
* Define Queues - ES_Aurion
* ---------------------------------------------------

define ql('ES.AURION.BOQ.V1') -
 descr('Backout queue for ES_Aurion') -
 replace

define ql('ES.AURION.REQ.V1') -
 descr('Request queue for ES_Aurion') -
 cluster(__CLUSNAME__) -
 clwlprty(__QPRIORITY__) -
 boqname('ES.AURION.BOQ.V1') -
 bothresh(1) -
 replace
 
define ql('ES.AURION.RESP.V1') -
 descr('Response queue for ES_Aurion') -
 replace

 
 define ql('FS.AURION.USER.BOQ.V1') -
 descr('Backout queue for ES_Aurion Batch') -
 replace
 
define ql('FS.AURION.USER.REQ.V1') -
 descr('Request queue for ES_Aurion') -
 cluster(__CLUSNAME__) -
 clwlprty(__QPRIORITY__) -
 boqname('FS.AURION.USER.BOQ.V1') -
 bothresh(1) -
 replace

* ---------------------------------------------------
* Define Queues - SC_AurionEIPReposiroty
* ---------------------------------------------------

define ql('SC.AURIONEIP.BOQ.V1') -
 descr('Backout queue for SC_AurionEIPReposiroty') -
 replace
  
 
define ql('SC.AURIONEIP.REQ.V1') -
 descr('Request queue for SC_AurionEIPReposiroty') -
 cluster(__CLUSNAME__) -
 clwlprty(__QPRIORITY__) -
 boqname('SC.AURIONEIP.BOQ.V1') -
 bothresh(1) -
 replace
 
 

* ---------------------------------------------------
* Define Queues - SC_AurionRepository
* ---------------------------------------------------

define ql('SC.AURION.BOQ.V1') -
 descr('Backout queue for SC_AurionRepository') -
 replace
 
define ql('SC.AURION.REQ.V1') -
 descr('Request queue for SC_AurionRepository_V2') -
 cluster(__CLUSNAME__) -
 clwlprty(__QPRIORITY__) -
 boqname('SC.AURION.BOQ.V1') -
 bothresh(1) -
 replace


* ---------------------------------------------------
* Refresh security to activate the new rules
refresh security(*) type(authserv)
