* runmqsc command file template
* lpa_iib_app.template
* relies on lpa_iib_apps.template.map

* ---------------------------------------------------


 
* ---------------------------------------------------
* Set Auth Records - Entity Service Queues
* ---------------------------------------------------

set authrec -
 objtype(queue) -
 profile('ES.ADJUDICATIONRULES.**') -
 principal('__IIBUSER__') -
 authrmv(all) -
 authadd(browse, get, inq, put, setall, setid, passall, passid, dsp)
 
set authrec -
 objtype(queue) -    
 profile('ES.ADJUDICATIONRULES.**') -
 principal('__CLUSUSER__') -
 authrmv(all) -
 authadd(put, inq, setall)
 

* ---------------------------------------------------
* Set Auth Records - Service Component Queues
* ---------------------------------------------------

set authrec -
 objtype(queue) -
 profile('SC.ADJUDICATIONAVANTI.**') -
 principal('__IIBUSER__') -
 authrmv(all) -
 authadd(browse, get, inq, put, setall, setid, passall, passid, dsp)
 
set authrec -
 objtype(queue) -
 profile('SC.ADJUDICATIONAVANTI.**') -
 principal('__CLUSUSER__') -
 authrmv(all) -
 authadd(put, inq, setall)
 
set authrec -
 objtype(queue) -
 profile('SC.ADJUDICATIONREPOSITORY.**') -
 principal('__IIBUSER__') -
 authrmv(all) -
 authadd(browse, get, inq, put, setall, setid, passall, passid, dsp)
 
set authrec -
 objtype(queue) -
 profile('SC.ADJUDICATIONREPOSITORY.**') -
 principal('__CLUSUSER__') -
 authrmv(all) -
 authadd(put, inq, setall)
 


* ---------------------------------------------------
* Define Queues - ES_AdjudicationRules
* ---------------------------------------------------

define ql('ES.ADJUDICATIONRULES.BOQ.V1') -
 descr('Backout queue for ES_AdjudicationRules') -
 replace
 
define ql('ES.ADJUDICATIONRULES.REQ.V1') -
 descr('Request queue for ES_AdjudicationRules') -
 cluster(__CLUSNAME__) -
 clwlprty(__QPRIORITY__) -
 boqname('ES.ADJUDICATIONRULES.BOQ.V1') -
 bothresh(1) -
 replace
 
define ql('ES.ADJUDICATIONRULES.RESP.V1') -
 descr('Response queue for ES_AdjudicationRules') -
 replace

* ---------------------------------------------------
* Define Queues - SC_AdjudicationAvanti
* ---------------------------------------------------

define ql('SC.ADJUDICATIONAVANTI.BOQ.V1') -
 descr('Backout queue for SC_AdjudicationAvanti') -
 replace
  
define ql('SC.ADJUDICATIONAVANTI.REQ.V1') -
 descr('Request queue for SC_AdjudicationAvanti') -
 cluster(__CLUSNAME__) -
 clwlprty(__QPRIORITY__) -
 boqname('SC.ADJUDICATIONAVANTI.BOQ.V1') -
 bothresh(1) -
 replace
 

* ---------------------------------------------------
* Define Queues - SC_AdjudicationRepository
* ---------------------------------------------------

define ql('SC.ADJUDICATIONREPOSITORY.BOQ.V1') -
 descr('Backout queue for SC_AdjudicationRepository') -
 replace
 
define ql('SC.ADJUDICATIONREPOSITORY.REQ.V1') -
 descr('Request queue for SC_AdjudicationRepository') -
 cluster(__CLUSNAME__) -
 clwlprty(__QPRIORITY__) -
 boqname('SC.ADJUDICATIONREPOSITORY.BOQ.V1') -
 bothresh(1) -
 replace


* ---------------------------------------------------
* Refresh security to activate the new rules
refresh security(*) type(authserv)
