* runmqsc command file template
* mytac_iib_app.template
* relies on mytac_iib_app.template.map


* ---------------------------------------------------
* Set Auth Records - Service Component Queues
* ---------------------------------------------------

set authrec -
    objtype(queue) -
    profile('SC.AVANTIEIPINBOUNDDOC.**') -
    principal('__CLUSUSER__') -
    authrmv(all) -
    authadd(put, inq, setall)

set authrec -
    objtype(queue) -
    profile('SC.AVANTIEIPINBOUNDDOC.**') -
    principal('__IIBUSER__') -
    authrmv(all) -
    authadd(browse, get, inq, put, setall, setid, passall, passid, dsp)


* ---------------------------------------------------
* Define Queues - SC_AvantiEIP_Inbound
* ---------------------------------------------------

define ql('SC.AVANTIEIPINBOUNDDOC.REQ.BOQ.V1') -
    descr('Backout Queue for SC_AvantiEIP_Inbound') -
    replace

define ql('SC.AVANTIEIPINBOUNDDOC.REQ.V1') -
    descr('Request Queue for SC_AvantiEIP_Inbound') -
    boqname('SC.AVANTIEIPINBOUNDDOC.REQ.BOQ.V1') -
    bothresh(3) -
    replace

define ql('SC.AVANTIEIPINBOUNDDOC.EX.V1') -
    descr('Exception Queue for any failures in SC_AvantiEIP_Inbound') -
    replace


* ---------------------------------------------------
* Refresh security to activate the new rules
refresh security(*) type(authserv)
