* runmqsc command file template
* online_iib_app.template
* relies on online_iib_apps.template.map

* ---------------------------------------------------

* ---------------------------------------------------
* Set Auth Records - Consumer Service Queues
* ---------------------------------------------------

* BLANK SECTION - NO CONSUMER SERVICE QUEUES EXIST AT PRESENT

* ---------------------------------------------------
* Set Auth Records - Functional Service Queues
* ---------------------------------------------------

set authrec -
	objtype(queue) -
	profile('FS.DOCUMENTMANAGEMENT.**') -
	principal('__CLUSUSER__') -
	authrmv(all) -
	authadd(put, inq, setall)

set authrec -
	objtype(queue) -
	profile('FS.DOCUMENTMANAGEMENT.**') -
	principal('__IIBUSER__') -
	authrmv(all) -
	authadd(browse, get, inq, put, setall, setid, passall, passid, dsp)

* ---------------------------------------------------
* Set Auth Records - Entity Service Queues
* ---------------------------------------------------

set authrec -
	objtype(queue) -
	profile('ES.DOCUMENT.**') -
	principal('__CLUSUSER__') -
	authrmv(all) -
	authadd(put, inq, setall)

set authrec -
	objtype(queue) -
	profile('ES.DOCUMENT.**') -
	principal('__IIBUSER__') -
	authrmv(all) -
	authadd(browse, get, inq, put, setall, setid, passall, passid, dsp)
	
* ---------------------------------------------------
* Set Auth Records - Service Component Queues
* ---------------------------------------------------

set authrec -
	objtype(queue) -
	profile('SC.AVANTI.DOCUMENT.**') -
	principal('__CLUSUSER__') -
	authrmv(all) -
	authadd(put, inq, setall)

set authrec -
	objtype(queue) -
	profile('SC.AVANTI.DOCUMENT.**') -
	principal('__IIBUSER__') -
	authrmv(all) -
	authadd(browse, get, inq, put, setall, setid, passall, passid, dsp)

set authrec -
	objtype(queue) -
	profile('SC.EFILE.**') -
	principal('__CLUSUSER__') -
	authrmv(all) -
	authadd(put, inq, setall)

set authrec -
	objtype(queue) -
	profile('SC.EFILE.**') -
	principal('__IIBUSER__') -
	authrmv(all) -
	authadd(browse, get, inq, put, setall, setid, passall, passid, dsp)

* ---------------------------------------------------
* Define Queues - FS_DocumentManagement
* ---------------------------------------------------
	
define ql('FS.DOCUMENTMANAGEMENT.BOQ.V1') -
	descr('Backout Queue for ES_DoFS_DocumentManagementcument') -
	replace
	
define ql('FS.DOCUMENTMANAGEMENT.REQ.__QLOCATION__.V1') -
	descr('Request Queue for FS_DocumentManagement') -
	cluster(__CLUSNAME__) -
	clwlprty(__QPRIORITY__) -
	boqname('FS.DOCUMENTMANAGEMENT.BOQ.V1') -
	bothresh(1) -
	replace

define qa('FS.DOCUMENTMANAGEMENT.REQ.V1') -
	descr('Alias to get messages from site specific queue') -
	TARGTYPE(queue) -
	TARGET('FS.DOCUMENTMANAGEMENT.REQ.__QLOCATION__.V1') -
	replace

define ql('FS.DOCUMENTMANAGEMENT.RESP.V1') -
	descr('Replies to FS_DocumentManagement') -
	replace
	
* ---------------------------------------------------
* Define Queues - ES_Document
* ---------------------------------------------------

define ql('ES.DOCUMENT.BOQ.V1') -
	descr('Backout Queue for ES_Document') -
	replace
	
define ql('ES.DOCUMENT.REQ.V1') -
	descr('Request Queue for ES_Document') -
	cluster(__CLUSNAME__) -
	clwlprty(__QPRIORITY__) -
	boqname('ES.DOCUMENT.BOQ.V1') -
	bothresh(1) -
	replace
	
define ql('ES.DOCUMENT.RESP.V1') -
	descr('Replies to ES_Document') -
	replace
	
* ---------------------------------------------------
* Define Queues - SC_AvantiDocument
* ---------------------------------------------------

define ql('SC.AVANTI.DOCUMENT.BOQ.V1') -
	descr('Backout Queue for SC_AvantiDocument') -
	replace
	
define ql('SC.AVANTI.DOCUMENT.REQ.V1') -
	descr('Request Queue for SC_AvantiDocument') -
	cluster(__CLUSNAME__) -
	clwlprty(__QPRIORITY__) -
	boqname('SC.AVANTI.DOCUMENT.BOQ.V1') -
	bothresh(1) -
	replace

* ---------------------------------------------------
* Define Queues - SC_EFile
* ---------------------------------------------------

define ql('SC.EFILE.BOQ.V1') -
	descr('Backout Queue for SC_EFile') -
	replace
	
define ql('SC.EFILE.REQ.V1') -
	descr('Request Queue for SC_EFile') -
	cluster(__CLUSNAME__) -
	clwlprty(__QPRIORITY__) -
	boqname('SC.EFILE.BOQ.V1') -
	bothresh(1) -
	replace

* ---------------------------------------------------
* Refresh security to activate the new rules
refresh security(*) type(authserv)
