* runmqsc command file template
* riskware_iib_app.template
* relies on riskware_iib_apps.template.map

* ---------------------------------------------------

* ---------------------------------------------------
* Set Auth Records - Consumer Service Queues
* ---------------------------------------------------

set authrec -
 objtype(queue) -
 profile('CS.ACCRUALSPROJECTS.**') -
 principal('__IIBUSER__') -
 authrmv(all) -
 authadd(browse, get, inq, put, setall, setid, passall, passid, dsp)

set authrec -
 objtype(queue) -    
 profile('CS.ACCRUALSPROJECTS.**') -
 principal('__CLUSUSER__') -
 authrmv(all) -
 authadd(put, inq, setall)

set authrec -
 objtype(queue) -
 profile('CS.ACCRUALSPAYROLLGL.**') -
 principal('__IIBUSER__') -
 authrmv(all) -
 authadd(browse, get, inq, put, setall, setid, passall, passid, dsp)

set authrec -
 objtype(queue) -    
 profile('CS.ACCRUALSPAYROLLGL.**') -
 principal('__CLUSUSER__') -
 authrmv(all) -
 authadd(put, inq, setall)


* ---------------------------------------------------
* Define Queues - CS_AccrualPayrollGL
* ---------------------------------------------------

define ql('CS.ACCRUALSPROJECTS.RESP.V1') -
 descr('Response queue for CS_AccrualPayrollGL') -
 replace


* ---------------------------------------------------
* Define Queues - CS_AccrualProjects
* ---------------------------------------------------
define ql('CS.ACCRUALSPAYROLLGL.RESP.V1') -
 descr('Response queue for CS_AccrualProjects') -
 replace


* ---------------------------------------------------
* Refresh security to activate the new rules
refresh security(*) type(authserv)
