* runmqsc command file template
* tbc_iib_app.template
* relies on tbc_iib_apps.template.map

* ---------------------------------------------------
* Set Auth Records - Entity Service Queues
* ---------------------------------------------------

set authrec -
	objtype(queue) -
	profile('ES.EMPLOYEE.**') -
	principal('__CLUSUSER__') -
	authrmv(all) -
	authadd(put, inq, setall)

set authrec -
	objtype(queue) -
	profile('ES.EMPLOYEE.**') -
	principal('__IIBUSER__') -
	authrmv(all) -
	authadd(browse, get, inq, put, setall, setid, passall, passid, dsp)


* ---------------------------------------------------
* Set Auth Records - Service Component Queues
* ---------------------------------------------------

set authrec -
	objtype(queue) -
	profile('SC.AURION.**') -
	principal('__CLUSUSER__') -
	authrmv(all) -
	authadd(put, inq, setall)

set authrec -
	objtype(queue) -
	profile('SC.AURION.**') -
	principal('__IIBUSER__') -
	authrmv(all) -
	authadd(browse, get, inq, put, setall, setid, passall, passid, dsp)


* ---------------------------------------------------
* Define Queues - ES_Employee
* ---------------------------------------------------

define ql('ES.EMPLOYEE.BOQ.V1') -
	descr('Backout Queue for ES_Employee') -
	replace
	
define ql('ES.EMPLOYEE.REQ.V1') -
	descr('Request Queue for ES_Employee') -
	cluster(__CLUSNAME__) -
	clwlprty(__QPRIORITY__) -
	boqname('ES.EMPLOYEE.BOQ.V1') -
	bothresh(1) -
	replace
	
define ql('ES.EMPLOYEE.RESP.V1') -
	descr('Response to ES_Employee') -
	replace
	

* ---------------------------------------------------
* Define Queues - SC_Aurion
* ---------------------------------------------------

define ql('SC.AURION.BOQ.V1') -
	descr('Backout Queue for SC_Aurion') -
	replace
	
define ql('SC.AURION.REQ.V1') -
	descr('Request Queue for SC_Aurion') -
	cluster(__CLUSNAME__) -
	clwlprty(__QPRIORITY__) -
	boqname('SC.AURION.BOQ.V1') -
	bothresh(1) -
	replace
	
define ql('SC.AURION.EX.V1') -
	descr('Exception for one-way calls to SC_Aurion') -
	replace


* ---------------------------------------------------
* Set up queue manager to keep cluster messages local
* ---------------------------------------------------

alter qmgr clwluseq(local)