* runmqsc command file template
* csp_iib_app.template
* relies on csp_iib_apps.template.map

* ---------------------------------------------------

* ---------------------------------------------------
* Set Auth Records - Business Function Queues
* ---------------------------------------------------
 
set authrec -
 objtype(queue) -
 profile('FS.GETCLAIMPCR.**') -
 principal('__IIBUSER__') -
 authrmv(all) -
 authadd(browse, get, inq, put, setall, setid, passall, passid, dsp)
 
set authrec -
 objtype(queue) -
 profile('FS.GETCLAIMPCR.**') -
 principal('__CLUSUSER__') -
 authrmv(all) -
 authadd(put, inq, setall)

set authrec -
 objtype(queue) -
 profile('FS.DOCUMENTMANAGEMENT.**') -
 principal('__IIBUSER__') -
 authrmv(all) -
 authadd(browse, get, inq, put, setall, setid, passall, passid, dsp)
 
set authrec -
 objtype(queue) -
 profile('FS.DOCUMENTMANAGEMENT.**') -
 principal('__CLUSUSER__') -
 authrmv(all) -
 authadd(put, inq, setall)

* ---------------------------------------------------
* Set Auth Records - Entity Service Queues
* ---------------------------------------------------
 
set authrec -
 objtype(queue) -
 profile('ES.TRANSPORTACCIDENTCLAIMFORM.**') -
 principal('__IIBUSER__') -
 authrmv(all) -
 authadd(browse, get, inq, put, setall, setid, passall, passid, dsp)
 
set authrec -
 objtype(queue) -
 profile('ES.TRANSPORTACCIDENTCLAIMFORM.**') -
 principal('__CLUSUSER__') -
 authrmv(all) -
 authadd(put, inq, setall)

set authrec -
 objtype(queue) -
 profile('ES.PCR.**') -
 principal('__IIBUSER__') -
 authrmv(all) -
 authadd(browse, get, inq, put, setall, setid, passall, passid, dsp)
 
set authrec -
 objtype(queue) -
 profile('ES.PCR.**') -
 principal('__CLUSUSER__') -
 authrmv(all) -
 authadd(put, inq, setall)
 
set authrec -
 objtype(queue) -
 profile('ES.SUBMITCLAIMNOTIFICATION.**') -
 principal('__IIBUSER__') -
 authrmv(all) -
 authadd(browse, get, inq, put, setall, setid, passall, passid, dsp)
 
set authrec -
 objtype(queue) -
 profile('ES.SUBMITCLAIMNOTIFICATION.**') -
 principal('__CLUSUSER__') -
 authrmv(all) -
 authadd(put, inq, setall)
  
* ---------------------------------------------------
* Set Auth Records - Service Component Queues
* ---------------------------------------------------
 
set authrec -
 objtype(queue) -
 profile('SC.REPOSITORY.**') -
 principal('__IIBUSER__') -
 authrmv(all) -
 authadd(browse, get, inq, put, setall, setid, passall, passid, dsp)
 
set authrec -
 objtype(queue) -
 profile('SC.REPOSITORY.**') -
 principal('__CLUSUSER__') -
 authrmv(all) -
 authadd(put, inq, setall)
 
set authrec -
 objtype(queue) -
 profile('SC.AMBULANCEVICTORIA.**') -
 principal('__IIBUSER__') -
 authrmv(all) -
 authadd(browse, get, inq, put, setall, setid, passall, passid, dsp)
 
set authrec -
 objtype(queue) -
 profile('SC.AMBULANCEVICTORIA.**') -
 principal('__CLUSUSER__') -
 authrmv(all) -
 authadd(put, inq, setall)
 
set authrec -
 objtype(queue) -
 profile('SC.AVANTIDB.**') -
 principal('__IIBUSER__') -
 authrmv(all) -
 authadd(browse, get, inq, put, setall, setid, passall, passid, dsp)
 
set authrec -
 objtype(queue) -
 profile('SC.AVANTIDB.**') -
 principal('__CLUSUSER__') -
 authrmv(all) -
 authadd(put, inq, setall)
  
set authrec -
 objtype(queue) -
 profile('SC.EMAIL.**') -
 principal('__IIBUSER__') -
 authrmv(all) -
 authadd(browse, get, inq, put, setall, setid, passall, passid, dsp)

set authrec -
 objtype(queue) -
 profile('SC.EMAIL.**') -
 principal('__CLUSUSER__') -
 authrmv(all) -
 authadd(put, inq, setall)
 
* ---------------------------------------------------
* Define Queues - ES_TransportAccidentClaimForm
* ---------------------------------------------------
 
define ql('ES.TRANSPORTACCIDENTCLAIMFORM.RESP.V1') -
 descr('Replies to ES_TransportAccidentClaimForm') -
 replace
  
* ---------------------------------------------------
* Define Queues - FS_GetClaimPCR
* ---------------------------------------------------

define ql('FS.GETCLAIMPCR.BOQ.V1') -
 descr('Backout for FS_GetClaimPCR') -
 replace
 
define ql('FS.GETCLAIMPCR.REQ.V1') -
 descr('Request to FS_GetClaimPCR') -
 cluster(__CLUSNAME__) -
 clwlprty(__QPRIORITY__) -
 boqname('FS.GETCLAIMPCR.BOQ.V1') -
 bothresh(1) -
 replace
 
define ql('FS.GETCLAIMPCR.RESP.V1') -
 descr('Replies to FS_GetClaimPCR') -
 replace
 
define ql('FS.GETCLAIMPCR.INT.BOQ.V1') -
 descr('Backout queue for internal request to FS_GetClaimPCR savePCR') -
 replace
 
define ql('FS.GETCLAIMPCR.INT.REQ.V1') -
 descr('Internal request to FS_GetClaimPCR savePCR') -
 cluster(__CLUSNAME__) -
 clwlprty(__QPRIORITY__) -
 boqname('FS.GETCLAIMPCR.INT.BOQ.V1') -
 bothresh(1) -
 replace


* ---------------------------------------------------
* Define Queues - FS_DocumentManagement
* ---------------------------------------------------
 
define qa('FS.DOCUMENTMANAGEMENT.REQ.V1') -
	descr('Alias to access site specific queue') -
	TARGTYPE(queue) -
	TARGET('FS.DOCUMENTMANAGEMENT.REQ.__QLOCATION__.V1') -
	replace
  
* ---------------------------------------------------
* Define Queues - ES_PCR
* ---------------------------------------------------
 
define ql('ES.PCR.BOQ.V1') -
 descr('Backout queue for ES_PCR') -
 replace
  
define ql('ES.PCR.REQ.V1') -
 descr('Request queue for ES_PCR') -
 cluster(__CLUSNAME__) -
 clwlprty(__QPRIORITY__) -
 boqname('ES.PCR.BOQ.V1') -
 bothresh(1) -
 replace
  
define ql('ES.PCR.RESP.V1') -
 descr('Response queue for ES_PCR') -
 replace
 
 
* ---------------------------------------------------
* Define Queues - ES_SubmitClaimNotification
* ---------------------------------------------------
 
define ql('ES.SUBMITCLAIMNOTIFICATION.BOQ.V1') -
 descr('Backout queue for ES_SubmitClaimNotification') -
 replace
 
define ql('ES.SUBMITCLAIMNOTIFICATION.REQ.V1') -
 descr('Request queue for ES_SubmitClaimNotification') -
 cluster(__CLUSNAME__) -
 clwlprty(__QPRIORITY__) -
 boqname('ES.SUBMITCLAIMNOTIFICATION.BOQ.V1') -
 bothresh(1) -
 replace
  
define ql('ES.SUBMITCLAIMNOTIFICATION.RESP.V1') -
 descr('Response queue for ES_SubmitClaimNotification') -
 replace
 
* ---------------------------------------------------
* Define Queues - SC_Repository
* ---------------------------------------------------
 
define ql('SC.REPOSITORY.BOQ.V2') -
 descr('Backout queue for SC_Repository') -
 replace
  
define ql('SC.REPOSITORY.REQ.V2') -
 descr('Request queue for SC_Repository') -
 cluster(__CLUSNAME__) -
 clwlprty(__QPRIORITY__) -
 boqname('SC.REPOSITORY.BOQ.V2') -
 bothresh(1) -
 replace
 
* ---------------------------------------------------
* Define Queues - SC_AmbulanceVictoria
* ---------------------------------------------------
 
define ql('SC.AMBULANCEVICTORIA.BOQ.V1') -
 descr('Backout queue for SC_AV') -
 replace
  
define ql('SC.AMBULANCEVICTORIA.REQ.V1') -
 descr('Request queue for SC_AV') -
 cluster(__CLUSNAME__) -
 clwlprty(__QPRIORITY__) -
 boqname('SC.AMBULANCEVICTORIA.BOQ.V1') -
 bothresh(1) -
 replace
 
* ---------------------------------------------------
* Define Queues - SC_AvantiDB
* ---------------------------------------------------
 
define ql('SC.AVANTIDB.BOQ.V1') -
 descr('Backout queue for SC_AvantiInvoice') -
 replace
  
define ql('SC.AVANTIDB.REQ.V1') -
 descr('Request queue for SC_AvantiInvoice') -
 cluster(__CLUSNAME__) -
 clwlprty(__QPRIORITY__) -
 boqname('SC.AVANTIDB.BOQ.V1') -
 bothresh(1) -
 replace

* ---------------------------------------------------
* Define Queues - SC_EmailSender
* ---------------------------------------------------
 
define ql('SC.EMAIL.BOQ.V1') -
 descr('Backout queue for SC_EmailSender') -
 replace

define ql('SC.EMAIL.REQ.V1') -
 descr('Request queue for SC_EmailSender') -
 cluster(__CLUSNAME__) -
 clwlprty(__QPRIORITY__) -
 boqname('SC.EMAIL.BOQ.V1') -
 bothresh(1) -
 replace
 
* ---------------------------------------------------
* Refresh security to activate the new rules
refresh security(*) type(authserv)
