#
# :Precis: Configure Ansible for local inventory file
# :Authors: Andrew Burrow
# :Contact: andrew.burrow@syntegrity.com.au
#

[defaults]
inventory = inventory.cfg

[privilege_escalation]
become_ask_pass = True
